---
import { getCollection } from "astro:content";
import Header from "@/components/Header.astro";
import Base from "@/layouts/Base.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
    const services = await getCollection("services");
    return services.map(landing => ({
        params: { service: landing.data.slug },
        props: { landing },
    }));
}

const { landing } = Astro.props;
const { Content } = await render(landing);

const seoTitle = landing.data.seo?.title || landing.data.title;
const seoDescription = landing.data.seo?.description || landing.data.description;
---

<Base title={seoTitle} description={seoDescription}>
    <Header title={landing.data.title} cover={landing.data.cover} />
    <main class="relative z-20 *:first:mt-28">
        <Content />
    </main>
</Base>
