---
import PegadaCarteles from "@/content/services/pegada-de-carteles/index.mdx";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Base.astro";
import cover from "@/assets/images/header/pegada-de-carteles.webp";
---

<Layout
    cover={cover}
    title="Pegada de carteles | Especialistas en Wild Posting"
    description="Empresa líder de pegada de carteles en Madrid. Especialistas en Wild Posting, publicidad exterior y fijación de cartelería con garantía de reposición."
    schema="website"
>
    <Header
        title="Especialistas en pegada de carteles y Wild Posting"
        cover={cover}
        coverAlt="Un chico pegando un cartel en una pared"
        loading="eager"
        classes="*:[img]:-top-36 md:*:[img]:-top-12 xl:*:[img]:-top-36"
    />
    <main class="relative z-10 pb-6 pt-28">
        <PegadaCarteles />
    </main>
</Layout>
