---
import PegadaCarteles from "@/content/services/pegada-de-carteles/index.mdx";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Base.astro";
import cover from "@/assets/images/header/pegada-de-carteles.webp";
---

<Layout
    cover={cover}
    title="Pegada de carteles en Madrid, Barcelona y resto de España"
    description="Cada día pegamos el 90% de carteles que ves en la calle. Supervisión 24/7 (día y noche) para la reposición de carteles dañados o tapados."
    schema="website"
>
    <Header
        title="Pegada de carteles en Madrid, Barcelona y resto de España"
        cover={cover}
        classes="h-[50vh] xl:h-[75vh] *:[img]:-top-36 md:*:[img]:-top-12 xl:*:[img]:-top-36"
    />
    <main class="relative z-10 pb-6 pt-28">
        <PegadaCarteles />
    </main>
</Layout>
