---
import Header from "../components/Header.astro";
import Desc1 from "../components/Desc1.astro";
import Layout from "../layouts/Base.astro";
import Reviews from "../components/Reviews.astro";
import Logos from "../components/Logos.astro";
import Desc2 from "../components/Desc2.astro";
import Desc3 from "../components/Desc3.astro";
import Videos from "../components/Videos.astro";
import Faqs from "../components/Faqs.astro";
import InfiniteCarousel from "../components/InfiniteCarousel.astro";
import BenefitsGrid from "../components/BenefitsGrid.astro";
import VerticalTabs from "../components/VerticalTabs.astro";
import cover from "@/assets/images/header/pegada-de-carteles.webp";
---

<Layout>
    <main>
        <Header
            title="Agencia de publicidad exterior"
            description="La pegada de carteles es lo que nos ha convertido en el actual referente en España, avalados por el gran número de clientes y la satisfacción que han demostrado."
            cover={cover}
        />
    </main>
</Layout>
