---
import Layout from "@/layouts/Base.astro";
import { getGalleryImages } from "@/utils/getGalleryImages";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import VideoBg from "@/components/VideoBg.astro";
import GalleryCities from "@/components/GalleryCities.astro";

const collection = await getCollection("galleries");
---

<Layout>
    <VideoBg title="Trabajos realizados" />
    <main>
        <section class="lg:mt-24">
            <div class="container relative flex flex-col lg:flex-row gap-16">
                <aside
                    class="sticky top-0 bg-opacity-90 backdrop-blur-md pt-16 pb-8 border-b-4 border-black z-10 lg:relative lg:top-0 lg:py-0 lg:border-none"
                >
                    <div class="lg:w-max lg:sticky lg:top-40 whitespace-nowrap">
                        <GalleryCities />
                    </div>
                </aside>

                <div class="relative *:not-first:mt-16 pt-1 flex flex-col overflow-clip w-full">
                    <div id="instagram" class="mb-8 p-0">
                        <h3 class="text-3xl font-semibold">
                            <a
                                href="https://www.instagram.com/urban_style_publicity"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                title="This link will take you to an external web site. We are not responsible for their content."
                                class="external-link no-image"
                            >
                                Síguenos en Instagram
                            </a> para ver nuestras pegadas de carteles más recientes.
                        </h3>
                    </div>

                    {
                        collection.map(async item => {
                            const images = await getGalleryImages(item.id);
                            return (
                                <div>
                                    <h2
                                        id={item.id}
                                        class="left-0 scroll-mt-80 md:scroll-mt-72 lg:scroll-mt-40 bg-skew2 wall-full text-4xl font-semibold"
                                    >
                                        <span class="bg-black text-white px-8 py-4 shadow-[0_0_0_4px_black] border-4 border-white relative left-2 rotate-2 top-1 inline-block">
                                            {item.data.title}
                                        </span>
                                    </h2>

                                    <div class="mt-8 columns-2 [&>*]:break-inside-avoid items-center md:columns-4 lg:columns-6 gap-4">
                                        {images.map(img => (
                                            <div class="mb-4 overflow-clip border border-black p-0.75 bg-white rounded-xs">
                                                <Image
                                                    src={img}
                                                    alt=""
                                                    width={500}
                                                    format="avif"
                                                    class="max-w-none brightness-125 saturate-110 contrast-110 w-full shadow-xl hover:scale-110 transition-all duration-300 border-md"
                                                />
                                            </div>
                                        ))}
                                    </div>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
        </section>
    </main>
</Layout>
