.stats {
    display: flex;
    font-size: 2.4rem;
    gap: 4rem;
    line-height: 4rem;
    margin-top: 2.4em;
    place-content: space-between;
    place-items: end;
    text-align: center;
}

.stats>div {
    white-space: nowrap;
}

.stats .wrapper {
    color: cyan;
    display: flex;
    gap: 1rem;
    place-content: center;
}

.stats span {
    font-size: 3.8rem;
    font-weight: 600;
}

#progress {
    background: var(--color-darkgrey);
    border: 6px solid var(--color-darkgrey);
    border-radius: 50px;
    height: 35px;
    width: 100%;
}

#progressBar {
    background-color: var(--color-darkcyan);
    border-radius: 50px;
    display: block;
    height: 100%;
    min-width: 25px;
    width: 0%;
}

#questionForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.25;
}

.answer-container {
    background-color: var(--color-darkgrey);
    border-radius: 6px;
    display: flex;
    place-items: center;
    width: 100%;
}

.answer-container>* {
    padding: 1rem 2rem;
}

.answer-text {
    background-color: var(--color-darkmode);
    border-radius: 4px;
    margin: 4px 4px 4px 0;
    transition: .5s ease;
    width: 100%;
}

.answer-text:hover {
    background-color: var(--color-darkcyan);
    cursor: pointer;
    transition: .5s ease;
}

.correct {
    box-shadow: 0 0 0 2px inset greenyellow;
}

.incorrect {
    box-shadow: 0 0 0 2px inset tomato;
}

.correct:hover,
.incorrect:hover {
    background-color: transparent;
}