#game {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.choice-container {
    background-color: var(--color-darkgrey);
    border-radius: 6px;
    display: flex;
    place-items: center;
    width: 100%;
}

.choice-container>* {
    padding: 1rem 2rem;
}

.choice-text {
    background-color: var(--color-darkmode);
    border-radius: 4px;
    margin: 4px 4px 4px 0;
    transition: .5s ease;
    width: 100%;
}

.choice-text:hover {
    background-color: rgb(105 226 237 / 40%);
    cursor: pointer;
    transition: .5s ease;
}
