/* Global styles */

.home-template .gh-head {
    display: grid;
    grid-template-areas:
        "welcome navbar"
        "welcome posts"
        "welcome posts";
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
}

.gh-head {
    padding: 0;
    color: #fff;
}

header.gh-head nav {
    grid-area: navbar;
    background-color: rgba(170, 0, 28, 0.9);
    display: flex;
    place-items: center;
    place-content: center space-between;
    padding: 1rem 4vw;
    position: relative;
    z-index: 1;
}

nav.inner {
    max-width: 100%;
}

#logo {
    width: 50px;
}

nav .right {
    display: flex;
    place-items: center;
    gap: 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#welcome {
    grid-area: welcome;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4vw;
    box-shadow: 0 20px 20px rgb(0, 0, 0, 50%);
    z-index: inherit;
    color: rgb(255, 255, 255, 80%);
}

#welcome .author img {
    max-width: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
}

#slides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center flex-end;
    gap: 1rem;
    padding: 40vw 4vw 4vw;
}

#slides article {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#slides article img {
    opacity: .6;
    object-position: bottom;
    border: 2px solid rgb(105, 226, 237, 80%);
    border-radius: 8px;
}

#slides article a:hover img {
    opacity: 1;
}

#slides h2 {
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255, 95%);
    font-weight: 500;
    margin: 0;
    text-shadow: 0 0 15px black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
}

@media screen and (min-width: 769px) {
    #slides {
        grid-template-columns: 200px;
        padding: 4vw;
    }
}
