/* Global styles */

::selection {
    background: transparent;
}

.gh-head {
    color: #fff;
    padding: 0;
}

header.gh-head nav {
    background-color: rgba(189, 0, 31, .9);
    box-shadow: 0 0 50px #000;
    display: flex;
    grid-area: navbar;
    max-height: 6rem;
    padding: 1rem 3vw;
    place-content: center space-between;
    place-items: center;
    position: relative;
    z-index: 1;
}

nav.inner {
    max-width: 100%;
}

#logo {
    width: 50px;
}

nav .right {
    display: flex;
    gap: 2rem;
    place-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

#welcome {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 20px rgb(0, 0, 0, 50%);
    color: rgb(255, 255, 255, 80%);
    display: flex;
    flex-direction: column;
    gap: 3vw;
    grid-area: welcome;
    padding: 4vw;
    position: relative;
    text-align: center;
    z-index: inherit;
}

#welcome .logo {
    width: 120px;
    margin: 0 auto;
}

#welcome .logo rect {
    fill: #fff;
}

#welcome .logo #h>* {
    fill: #000;
}

.gh-head #welcome #i>* {
    fill: #bd001f;
}

#welcome h1 {
    font-size: 2.4rem;
    margin-bottom: 1em;
}

#welcome .author {
    display: flex;
    gap: 1rem;
    line-height: 1.2em;
    margin-top: 2em;
    place-content: center;
    place-items: center;
    text-align: left;
}

#welcome .author img {
    border: 2px solid var(--color-darkgrey);
    border-radius: 50%;
    max-width: 50px;
}

#slides {
    display: grid;
    gap: 1rem;
    grid-area: posts;
    grid-template-columns: 1fr;
    padding: 3vmax;
}

#slides article {
    position: relative;
    z-index: 1;
}

#slides article a {
    display: flex;
    gap: 2vw;
    place-items: center;
}

#slides .post-card-primary-tag {
    background: rgb(105, 226, 237, 40%);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 1rem;
    max-width: fit-content;
    padding: 0.2rem 0.4rem;
    position: relative;
}

#slides article img {
    border: 2px solid rgb(105, 226, 237, 80%);
    border-radius: 8px;
    max-height: 100px;
    max-width: 200px;
    min-width: 200px;
    object-fit: cover;
    object-position: center;
    opacity: .6;
}

#slides article a:hover img {
    opacity: 1;
}

@media (max-width: 500px) {
    #slides article img {
        max-width: 150px;
        min-width: 150px;
        max-height: 75px;
    }
}

#slides h2 {
    -webkit-box-orient: vertical;
    color: rgb(255, 255, 255, 95%);
    display: -webkit-box;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    -webkit-line-clamp: 2;
    margin: 0;
    text-overflow: ellipsis;
    text-shadow: 0 0 30px #000, 0 0 30px #000;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    #welcome {
        flex-direction: row;
        text-align: left;
    }

    #welcome .author {
        place-content: start;
    }
}

@media screen and (min-width: 769px) {
    #slides {
        grid-template-columns: 60%;
    }
}
