---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const services = await getCollection("services");
const { title } = Astro.props;
// console.log(services);
const servicesAreEven = services.length % 2 === 0;
console.log(servicesAreEven ? "even" : "odd");
---

<section class="mt-32">
    <div class="container">
        <h2 set:html={title} class="text-6xl text-center font-bold uppercase" />

        <div class="container mt-24">
            {
                !servicesAreEven && (
                    <div class="grid grid-cols-5 gap-4 *:nth-[5n+2]:-top-8 *:nth-[5n+4]:-top-8">
                        {services
                            .sort((a, b) => a.data.title.localeCompare(b.data.title))
                            .map(service => (
                                <div class="bg-skew after:rotate-2 relative rounded-xs border bg-white">
                                    <h3 class="absolute bottom-0.5 left-0.5 w-[calc(100%-4px)] m-0 px-3 py-8 pb-2 font-semibold text-white text-shadow-xs text-shadow-black bg-gradient-to-t from-black/80 to-transparent overflow-clip">
                                        {service.data.shortTitle || service.data.title}
                                    </h3>
                                    <Image
                                        src={service.data.cover}
                                        alt={service.data.title}
                                        width={300}
                                        height={200}
                                        format="avif"
                                        class="border-2 border-white"
                                    />
                                </div>
                            ))}
                    </div>
                )
            }
        </div>
    </div>
</section>
