---
const { title, description } = Astro.props;
---

<section class="relative before:opacity-100">
    <hgroup class="container grid grid-cols-2 items-center">
        <h2
            set:html={title}
            class="text-5xl text-balance text-black font-bold md:text-6xl uppercase text-center xl:m-0 !leading-tight"
        />
        <p
            set:html={description}
            class="text-3xl text-gray-600 text-balance text-center font-semibold m-0 md:text-4xl font-script"
        />
    </hgroup>
</section>
