---
import Arrow from "@/assets/images/handwritten-arrow.svg";
const { title, description, subtitle, classes } = Astro.props;
---

<section class="torn-top torn-bottom mt-36">
    <div class={`wall-full relative py-28 ${classes}`}>
        <div class="container">
            <h2
                class="font-bold border-dashed [text-shadow:2px_2px_2px_black] text-5xl md:text-7xl uppercase xl:m-0 text-center text-white"
            >
                {title}
            </h2>

            <div class="mt-16 flex flex-col-reverse gap-4 xl:flex-row-reverse xl:gap-4 items-center">
                <div class="flex flex-col gap-8 uppercase text-center xl:text-left drop-shadow-md xl:w-1/2 xl:m-0">
                    <h3
                        class="text-white/90 text-5xl md:text-6xl font-semibold normal-case xl:m-0 [text-shadow:2px_2px_2px_black] text-balance"
                    >
                        {subtitle}
                    </h3>
                </div>

                <div class="rotate-180 xl:rotate-0 xl:self-end -mb-4 xl:mb-4 fill-black/60 h-58 xl:h-full">
                    <Arrow />
                </div>

                <p
                    set:html={description}
                    class="font-script tracking-widest text-3xl text-white/90 text-center text-balance font-semibold md:text-4xl xl:w-1/2 xl:text-right [text-shadow:1px_1px_1px_black]"
                />
            </div>
        </div>
    </div>
</section>
