---
import Arrow from "@/assets/images/handwritten-arrow.svg";
import WhatsappIcon from "@/assets/icons/whatsapp.svg";
import PhoneIcon from "@/assets/icons/call.svg";
const { title, description, subtitle, classes } = Astro.props;
---

<section class="torn-top torn-bottom mt-36">
    <div class={`wall-full relative py-28 ${classes}`}>
        <div class="container">
            <h2
                class="font-bold border-dashed [text-shadow:2px_2px_2px_black] text-5xl md:text-7xl uppercase xl:m-0 text-center text-white"
            >
                {title}
            </h2>

            <div class="mt-16 flex flex-col-reverse gap-4 xl:flex-row-reverse xl:gap-4 items-center">
                <div class="flex flex-col gap-8 uppercase text-center xl:text-left drop-shadow-md xl:w-1/2 xl:m-0">
                    <h3
                        class="text-white/90 text-5xl md:text-6xl font-semibold normal-case xl:m-0 [text-shadow:2px_2px_2px_black] text-balance"
                    >
                        {subtitle}
                    </h3>
                </div>

                <div class="rotate-180 xl:rotate-0 xl:self-end -mb-4 xl:mb-4 fill-black/60 h-58 xl:h-full">
                    <Arrow />
                </div>

                <p
                    set:html={description}
                    class="font-script tracking-widest text-3xl text-white/90 text-center text-balance font-semibold md:text-4xl xl:w-1/2 xl:text-right [text-shadow:1px_1px_1px_black]"
                />
            </div>
        </div>

        <div
            class="container mx-auto flex flex-col md:flex-row justify-center items-center md:items-stretch gap-4 my-16"
        >
            <a
                href="/contacto"
                class="w-fit px-12 py-8 text-center text-balance font-semibold uppercase hover:border-gray-300 rounded-full focus:ring focus:ring-gray-50 bg-black text-white hover:ring-3 hover:ring-black transition ease-in-out duration-200"
            >
                Pide más información sobre nuestra pegada de carteles
            </a>

            <div class="flex gap-4 mt-4 md:mt-0">
                <a
                    href="https://wa.me/34609151772"
                    class="inline-flex min-w-24 min-h-24 bg-black px-8 py-4 rounded-full uppercase *:[svg]:w-8 **:[path]:fill-white hover:ring-3 hover:ring-black transition ease-in-out duration-200"
                    aria-label="Escribir por Whatsapp"
                    target="_blank"
                >
                    <WhatsappIcon />
                </a>
                <a
                    href="tel:+34913052922"
                    class="inline-flex min-w-24 min-h-24 bg-black px-8 py-4 rounded-full uppercase *:[svg]:w-8 **:[path]:fill-white hover:ring-3 hover:ring-black transition ease-in-out duration-200"
                    aria-label="Llamar por teléfono"
                >
                    <PhoneIcon />
                </a>
            </div>
        </div>
    </div>
</section>
