---
import { Image } from "astro:assets";

const { title, cover, classes } = Astro.props;
---

<header class={`hero torn-bottom relative overflow-clip pt-56 bg-black ${classes}`}>
    {
        title && (
            <div class="container h-full">
                <div class="flex items-end h-full align-text-bottom">
                    <h1 class="uppercase font-black text-white text-balance text-5xl leading-normal [&>span]:drop-shadow-[0px_0px_5px_rgba(0,0,0,1)] sm:text-[3.2rem] sm:leading-[5.1rem] lg:text-[4rem] lg:leading-[6.2rem] xl:text-7xl xl:leading-[7.7rem] 2xl:text-8xl 2xl:leading-[9.6rem]">
                        <span
                            set:html={title}
                            class="box-decoration-clone bg-black/60 px-3 pt-1 pb-2 md:px-4 xl:px-8 xl:pt-2 xl:pb-4"
                        />
                    </h1>
                </div>
            </div>
        )
    }

    <Image
        src={cover}
        width={1920}
        height={1440}
        format="avif"
        class="fixed top-0 -z-50 min-h-[75vh] md:min-h-[50vh] lg:min-h-[75vh] w-full object-cover brightness-125 contrast-110 mask-b-from-90%"
        loading="eager"
        alt={Astro.props.coverAlt || Astro.props.title}
    />
</header>
