---
import { Image } from "astro:assets";
import logo from "../assets/images/logo-urban-250.webp";
---

<section
    x-data="{ mobileNavOpen: false, scrollNav: false }"
    class="overflow-hidden z-50"
    x-intersect:enter.maring.100px="scrollNav = true"
    x-intersect:leave="scrollNav = false"
>
    <div
        class="container fixed w-[96%] lg:w-[86%] left-0 right-0 top-8 mx-auto flex items-center justify-between gap-4 pl-2 pr-6 py-2 bg-white/90 backdrop-blur-md rounded-full border shadow-xl transition-all"
        :class="{ 'top-8 pl-2 pr-6 py-2': scrollNav, 'top-2 pl-1 pr-2 py-1': !scrollNav }"
    >
        <div class="w-36 flex flex-wrap items-center transition-all" :class="{'w-36': scrollNav, 'w-24': !scrollNav}">
            <a href="#">
                <Image src={logo} alt="Logo Urban" width={250} height={146} format="avif" />
            </a>
        </div>

        <div class="flex flex-wrap items-center">
            <div class="w-auto hidden lg:block">
                <ul class="flex items-center justify-between uppercase *:transition-all">
                    <li class="mr-9 hover:scale-105">
                        <a href="#" class="text-black font-bold p-4 hover:text-red-700">Carteles</a>
                    </li>
                    <li class="mr-9 hover:scale-105">
                        <a href="#" class="text-black font-bold p-4 hover:text-red-700">Trabajos</a>
                    </li>
                    <li class="mr-9 hover:scale-105">
                        <a href="#" class="text-black font-bold p-4 hover:text-red-700">Servicios</a>
                    </li>
                    <li class="hover:scale-105">
                        <a href="#" class="text-black font-bold p-4 hover:text-red-700">Blog</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-wrap items-center">
            <div class="w-auto hidden lg:block">
                <div class="inline-block">
                    <button
                        class="py-3 px-5 w-full font-semibold uppercase hover:border-gray-300 rounded-full focus:ring focus:ring-gray-50 bg-black text-white hover:ring-3 hover:ring-black transition ease-in-out duration-200"
                        type="button"
                        :class="{ 'py-3': scrollNav, 'py-2': !scrollNav }"
                    >
                        Contacto
                    </button>
                </div>
            </div>
            <div class="flex items-center lg:hidden">
                <button x-on:click="mobileNavOpen = !mobileNavOpen">
                    <svg
                        class="text-red-black"
                        width="51"
                        height="51"
                        viewBox="0 0 56 56"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                        <path
                            d="M37 32H19M37 24H19"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div
        :class="{'block': mobileNavOpen, 'hidden': !mobileNavOpen}"
        class="fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50 hidden"
    >
        <div x-on:click="mobileNavOpen = !mobileNavOpen" class="fixed inset-0 bg-gray-800 opacity-80 backdrop-blur-2xl">
        </div>
        <nav class="relative z-10 px-9 pt-8 bg-black h-full transition-all">
            <div class="flex flex-wrap justify-center h-full">
                <button
                    class="absolute -right-24 bottom-8 bg-black flex items-center justify-center rounded-full w-14 h-14"
                    x-on:click="mobileNavOpen = !mobileNavOpen"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 18L18 6M6 6L18 18"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                        </path>
                    </svg>
                </button>

                <div class="flex items-center justify-between w-36">
                    <a class="inline-block" href="#">
                        <Image
                            src={logo}
                            class="w-full [filter:grayscale(1)_drop-shadow(0px_0px_1px_white)_drop-shadow(0px_0px_1px_white)_drop-shadow(0px_0px_1px_white)_drop-shadow(0px_0px_1px_white)_drop-shadow(0px_0px_1px_white)]"
                            alt="Logo Urban"
                            width={250}
                            height={146}
                            format="avif"
                        />
                    </a>
                </div>
                <ul class="flex flex-col gap-8 justify-center py-16 w-full text-center uppercase">
                    <li>
                        <a class="font-medium block p-4 py-6 hover:text-white" href="#">Carteles</a>
                    </li>
                    <li>
                        <a class="font-medium block p-4 py-6 hover:text-white" href="#">Trabajos</a>
                    </li>
                    <li>
                        <a class="font-medium block p-4 py-6 hover:text-white" href="#">Servicios</a>
                    </li>
                    <li>
                        <a class="font-medium block p-4 py-6 hover:text-white" href="#">Blog</a>
                    </li>
                </ul>
                <div class="flex flex-col justify-end w-full pb-8">
                    <button
                        class="py-3 px-5 w-full font-semibold uppercase rounded-full focus:ring-4 focus:ring-white bg-white hover:ring-4 hover:ring-white hover:transition-all transition-all"
                        type="button"
                    >
                        Contacto
                    </button>
                </div>
            </div>
        </nav>
    </div>
</section>
