---
import { getCollection, render } from "astro:content";

const { folderName } = Astro.props;
const tabEntries = await getCollection("tabs", ({ id }) => id.startsWith(folderName));

// Render all entries
const tabs = await Promise.all(
    tabEntries.map(async entry => {
        const { Content } = await render(entry);
        return {
            ...entry,
            Content,
        };
    })
);
---

<section class="mt-32">
    <div class="container" x-data="{ tab: 0 }">
        <h2 class="text-5xl lg:text-6xl text-balance text-center text-black font-bold uppercase xl:m-0 leading-tight">
            Servicios de cartelería complementarios
        </h2>

        <div class="mt-24 flex gap-24 items-center">
            <div class="w-2/5">
                <div class="sticky top-28">
                    <div class="flex flex-wrap gap-6 lg:flex-col">
                        {
                            tabs.map((tab, index) => (
                                <button
                                    class="group"
                                    x-on:click={`tab = ${index}`}
                                    x-bind:class={`tab === ${index} ? 'tab-active' : 'tab'`}
                                >
                                    {tab.data.title}
                                    <span class="inline-block right-2 group-hover:right-0 group-hover:transition-all relative">
                                        🡪
                                    </span>
                                </button>
                            ))
                        }
                    </div>
                </div>
            </div>
            {
                tabs.map((tab, index) => (
                    <div
                        class="w-3/5 *:[ul]:mt-8 *:[ul]:mb-0 *:[ul]:ml-6 **:[li]:mt-8 text-2xl text-pretty leading-relaxed"
                        x-show={`tab === ${index}`}
                        x-transition:enter
                    >
                        <tab.Content />
                    </div>
                ))
            }
        </div>
    </div>
</section>
