---
const { title } = Astro.props;
---

<section class="hero torn-bottom">
    <div class="container">
        <div class="absolute z-10 flex items-end h-full align-text-bottom">
            <h1
                class="mb-0 lg:-mb-1.5 px-12 pt-6 rounded-xs pb-12 bg-black/50 text-white text-[2.4rem] font-bold m-0 sm:text-[3.5rem] md:text-7xl lg:text-[5.25rem] xl:text-[5.5rem] uppercase drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]"
            >
                {title}
            </h1>
        </div>
    </div>
    <!-- Overlay to avoid show Youtube info on hover -->
    <div class="overlay before:absolute before:w-full before:h-full"></div>
    <iframe
        class="w-full m-0 aspect-video"
        src="https://www.youtube.com/embed/videoseries?si=IpCV2NY2Fmq9fKw-&list=PLwR_7txL75NdUA0myZPoNwtLwxLne0-47&controls=0&autoplay=1&mute=1&playsinline=1&loop=1&showinfo=0&rel=0"
    >
    </iframe>
</section>
