/*
!/.gitignore

# Ignore common files/folders (just in case)
cache
vendor
node_modules
backup
logs
*.log
tmp
package-lock.json
composer.lock
LICENSE
*min.*
**/test.*
*.swp
test/
dist/

# Include projects folders
!/alfa.host/
!/contradefensa/
!/moon.agency/
