/*
!/.gitignore

# Ignore common files/folders (just in case)
cache
vendor
node_modules
backup
logs
*.log
tmp
package-lock.json
bun.lockb
composer.lock
LICENSE
*min.*
**/test.*
*.swp
test/
*Zone.Identifier
*.bak
*testing*
.vscode/
.gitkeep
_*

## Grav
**/system/
**/plugins/
**/themes/
**/data/
**/webserver-configs/
**/images/[0-9a-z]/
**/bin/
**/dist/

# Include projects folders
!/alfa.host/
!/contradefensa/
!/moon.agency/
!/empiric.studio/
!/idealis.top/
!/urbanstyle/
!/alv.dev/
