<section class="mt-36 relative before:opacity-100">
    <div class="wall-full relative bg-red-800 pt-24 pb-40 xl:pb-60">
        <div class="container flex flex-col gap-8 xl:flex-row xl:gap-16 items-center" bis_skin_checked="1">
            <h2 class="font-bold text-black text-5xl md:text-6xl uppercase xl:w-1/2 xl:text-center xl:m-0 text-balance">
                {{ header.title }}
            </h2>
            <p class="text-3xl text-white text-opacity-80 !leading-tight font-semibold md:text-4xl xl:w-1/2 text-balance">
                {{ header.description }}
            </p>
        </div>
    </div>
</section>
