<section class="container mt-36 relative before:opacity-100">
    <div class="container flex flex-col-reverse gap-8 xl:flex-row-reverse xl:gap-16 items-center" bis_skin_checked="1">
        <h2 class="text-3xl text-balance font-semibold md:text-4xl xl:w-1/2 bg-white ring-16 ring-white !leading-tight">
            {{ header.description }}
        </h2>

        <p class="text-5xl text-balance text-gray-500 font-semibold md:text-6xl uppercase xl:w-1/2 xl:text-center xl:m-0">
            {{ header.title }}
        </p>
    </div>
</section>
