{% extends 'partials/base.html.twig' %}
{% set banner = page.media.images|first %}
{% set template_body_classes = 'is-singular logged-in not-front-page page page-id-2 page-template-default customize-support not-scrolled' %}
{% set singular = true %}

{% block content %}
    <main id="main" class="site-main clearfix" role="main">
        <section class="ds section_padding_50">
            <div class="container">
                <header class="entry-header">
                    <h1 class="entry-title">{{ page.header.title }}</h1>
                </header>
                <div class="entry-content" itemprop="description">
                    {{ page.content|raw }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
