{% extends 'partials/base.html.twig' %}
{% set template_body_classes = 'error404 is-not-singular not-front-page not-scrolled' %}

{% block content %}
    <section class="ds section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="not_found">
                        <span class="grey">{{ page.header.http_response_code }}</span>
                    </p>
                    <h2 class="muellerhoff highlight">{{ 'PAGE_NOT_FOUND'|t }}</h2>
                    {{ page.content|raw }}
                    <div class="divider_20"></div>

                    <div class="row">
                      <div class="widget widget_search">
                          <form method="get" class="searchform form-inline" action="https://html.modernwebtemplates.com/">
                              <div class="form-group">
                                  <label class="sr-only" for="page_search">Search for:</label>
                                  <input type="text" id="page_search" value="" name="search" class="form-control" placeholder="Buscar">
                              </div>
                              <button type="submit" class="theme_button input_button">Search</button>
                          </form>
                      </div>
                    </div>
                    <p class="divider_20"></p>
                    <a href="index.html" class="theme_button inverse">{{ 'GO_TO_HOME'|t }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
