{% extends 'partials/base.html.twig' %}

{% block content %}
    <main id="main" class="site-main clearfix" role="main">
        <article class="page type-page status-publish hentry">
            <div class="entry-inner">
                <div class="entry-content" itemprop="description">
                    {% include "partials/_models.html.twig" %}
                </div>
            </div>
        </article>
    </main>
{% endblock %}
