{% extends 'partials/base.html.twig' %}

{% set options = {items: {'@page.children': '/models'}} %}
{% set models = page.collection(options) %}

{% block content %}
    {% for item in models %}
        {{ item.media.images|first|raw }}
    {% endfor %}
    {% set collection = page.collection() %}
    {% if collection.count %}
        <section class="page section-modular">
            <div class="row">
                {% for module in collection %}
                    {{ module.content|raw }}XXX
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
