@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility debug-screens {
    &::before {
        @apply fixed bottom-0 left-0 z-[2147483647] rounded-tr bg-yellow-400 px-[0.5em] py-[0.3333333em] text-xs leading-none font-bold text-black;

        @variant sm {
            content: "screen: sm";
        }

        @variant md {
            content: "screen: md";
        }

        @variant lg {
            content: "screen: lg";
        }

        @variant xl {
            content: "screen: xl";
        }
    }
}

[x-cloak] {
    display: none !important;
}

@utility container {
    @apply mx-auto px-[3%];
}

@utility container-l {
    @apply z-10 container ml-0 max-w-5/6 overflow-clip rounded-r-sm shadow-xl ring-12 before:left-0 before:inset-shadow-[0_0_500px] md:max-w-5/6 lg:max-w-[calc(theme('screens.lg')+(99.333vw-theme('screens.lg'))/2)] lg:pl-[calc((104vw-theme('screens.lg'))/2)] xl:max-w-[calc(theme('screens.xl')+(99.333vw-theme('screens.xl'))/2)] xl:pl-[calc((104vw-theme('screens.xl'))/2)] 2xl:max-w-[calc(theme('screens.2xl')+(94vw-theme('screens.2xl'))/2)] 2xl:pl-[calc((104vw-theme('screens.2xl'))/2)];
}

@utility container-r {
    @apply z-10 container mr-0 max-w-5/6 overflow-clip rounded-l-sm shadow-xl ring-12 before:left-0 before:inset-shadow-[0_0_500px] md:max-w-5/6 lg:max-w-[calc(theme('screens.lg')+(99.333vw-theme('screens.lg'))/2)] lg:pr-[calc((104vw-theme('screens.lg'))/2)] xl:max-w-[calc(theme('screens.xl')+(99.333vw-theme('screens.xl'))/2)] xl:pr-[calc((104vw-theme('screens.xl'))/2)] 2xl:max-w-[calc(theme('screens.2xl')+(94vw-theme('screens.2xl'))/2)] 2xl:pr-[calc((104vw-theme('screens.2xl'))/2)];
}

@utility torn-bottom {
    @apply relative z-10 after:absolute after:-bottom-6 after:z-20 after:h-10 after:w-full after:bg-[url(@assets/images/torn-paper.webp)] after:bg-bottom after:bg-repeat-x after:drop-shadow-[0px_-4px_2px_rgb(0_0_0_/_0.3)];
}

@utility torn-top {
    @apply relative before:absolute before:-top-6 before:z-20 before:h-10 before:w-full before:rotate-180 before:bg-[url(@assets/images/torn-paper.webp)] before:bg-bottom before:bg-repeat-x before:drop-shadow-[0px_-4px_2px_rgb(0_0_0_/_0.3)];
}

@utility looker {
    @apply relative pb-[75%];

    & iframe {
        @apply absolute top-0 left-0 h-full w-full;
    }

    & object {
        @apply absolute top-0 left-0 h-full w-full;
    }

    & embed {
        @apply absolute top-0 left-0 h-full w-full;
    }
}

@utility wall-full {
    @apply relative -z-10 before:absolute before:top-0 before:h-full before:w-full before:bg-[url('@assets/images/wall-pattern-256.avif')] before:opacity-50;

    > * {
        @apply relative z-10;
    }
}

@utility wall-half {
    @apply relative -z-80 before:absolute before:top-0 before:h-full before:w-1/2 before:bg-[url('@assets/images/wall-pattern.png')] before:opacity-50 before:shadow-[0_0_200px_#00000099_inset];
}

@utility bg-skew {
    @apply relative z-0 shadow-lg after:absolute after:top-0 after:-z-10 after:h-full after:w-full after:rotate-3 after:bg-red-800;
}

@utility bg-skew2 {
    @apply relative z-0 after:absolute after:top-0 after:-z-10 after:h-full after:w-full after:-rotate-1 after:bg-black;
}

@utility d-stripes {
    color: white;
    background: repeating-linear-gradient(45deg, black, black 15px, #fff 15px, #fff 25px);
}

@utility v-stripes {
    color: white;
    background: repeating-linear-gradient(90deg, #a1a1aa, #a1a1aa 15px, #fff 15px, #fff 25px);
}

@utility notices {
    @apply px-8 py-3 shadow-md;

    &.red {
        @apply bg-red-200 text-red-700;
    }

    &.green {
        @apply bg-green-200 text-green-700;
    }

    &.yellow {
        @apply bg-yellow-200 text-yellow-700;
    }
}

@utility red {
    &.notices {
        @apply bg-red-200 text-red-700;
    }
}

@utility green {
    &.notices {
        @apply bg-green-200 text-green-700;
    }
}

@utility yellow {
    &.notices {
        @apply bg-yellow-200 text-yellow-700;
    }
}

@utility basic-captcha {
    & .form-input-wrapper {
        @apply gap-2 !rounded-none !border-0;
    }

    & * {
        @apply !bg-transparent;
    }
}

@utility form-input-wrapper {
    .basic-captcha & {
        @apply gap-2 !rounded-none !border-0;
    }
}

@utility underline {
    span & {
        @apply border-b-4 border-red-400;
    }
}

@utility animate-pause {
    animation-play-state: paused;
}

@utility tab {
    @apply relative inline-flex items-center justify-between rounded-xs border-2 bg-white px-6 py-4 shadow-[4px_4px_0_black] transition-all hover:translate-1 hover:shadow-none;
}

@utility tab-active {
    @apply tab translate-1 border-none bg-black text-white shadow-none hover:cursor-default hover:*:[span]:right-2;
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply flex min-h-screen flex-col font-sans text-xl leading-relaxed;
        /* animation-duration: 0.5s;
        animation-name: fadeLoad; */
    }

    body,
    main,
    footer {
        @apply bg-white bg-[url(@assets/images/bg-pattern.webp)];
    }

    @view-transition {
        navigation: auto;
    }

    /* @keyframes fadeLoad {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    } */

    form label:not([data-grav-field="checkbox"] label) {
        @apply invisible;
    }

    a,
    .prose a {
        @apply leading-tight font-semibold text-red-600 no-underline transition-all hover:text-black;
    }

    textarea,
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        @apply w-full border-0 border-b-4 border-gray-300 bg-[length:1.4rem_1.4rem] bg-left bg-no-repeat px-1 py-4 text-2xl transition duration-200 focus:border-red-700 focus:ring-0 focus:outline-none;
    }

    textarea {
        @apply bg-[left_top_1.4rem];
    }

    input[type="checkbox"] {
        @apply border-0 bg-gray-400 p-3 text-black transition focus:ring-0;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply leading-tight text-balance text-black;
    }

    p {
        @apply text-pretty;
    }

    ol,
    ul,
    .prose ol,
    .prose ul {
        @apply mx-0;
    }

    strong {
        @apply font-semibold;
    }

    button,
    .btn,
    a {
        @apply hover:cursor-pointer;
    }

    .btn,
    a.btn {
        @apply inline-block rounded-xs border-2 border-black bg-white px-12 py-4 font-semibold text-black uppercase shadow-[4px_4px_0_black] transition-all hover:translate-1 hover:shadow-none;
    }

    .btn--default,
    a.btn--default {
        @apply hover:scale-105 hover:ring-1;
    }

    .btn--primary,
    a.btn--primary {
        @apply bg-red-900 text-white ring-red-900;
    }

    .btn--secondary,
    a.btn--secondary {
        @apply bg-yellow-400 ring-yellow-400;
    }

    main {
        @apply text-gray-700;
    }

    main ul,
    main ol {
        @apply mt-8 mb-14 ml-16;
    }

    main ul {
        @apply list-disc;
    }

    main ol {
        @apply list-decimal;
    }

    main ul li {
        @apply mt-2;
    }

    main ol li {
        @apply mt-2;
    }

    .external-link {
        @apply inline-flex items-start transition-all after:h-4 after:w-4 after:bg-[url(@assets/icons/ext-link.svg)] after:bg-contain after:opacity-40 hover:after:opacity-60 hover:after:grayscale;
    }

    main a:hover:not(.btn) {
        @apply text-black transition-all;
    }

    footer a {
        @apply font-normal text-red-100 opacity-80 hover:text-white hover:opacity-100;
    }
    /**
     * Dark sections
     */

    .dark main * {
        @apply text-gray-300;
    }

    .dark h2,
    .dark h3 {
        @apply text-gray-100;
    }
}

@keyframes infinite-scroll-l {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-infinite-scroll-l {
    animation-name: infinite-scroll-l;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes infinite-scroll-r {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

.animate-infinite-scroll-r {
    animation-name: infinite-scroll-r;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@layer components {
    #messages {
        @apply fixed right-[2%] bottom-[1vw] z-50 overflow-hidden rounded-3xl border-2 border-white shadow ring-2 ring-white ring-inset;
    }

    mark {
        @apply relative inline-block bg-inherit text-inherit after:absolute after:-right-2 after:-bottom-0.5 after:-left-2 after:-z-10 after:h-9 after:bg-cover after:bg-no-repeat;

        &.under {
            @apply after:bg-[url(@assets/underline.svg)];
        }

        &.brush {
            @apply bg-[url(@assets/brush.svg)] px-16 font-semibold;
        }
    }
}
