/*
!.gitignore
!.htaccess
!/user

/user/*
!/user/pages/

!/user/images/

!/user/plugins/
/user/plugins/*
!/user/plugins/admin/
!/user/plugins/alfa-admin/

!/user/themes/
/user/themes/*
!/user/themes/urban
