/*
!.gitignore
!.htaccess
!/user

/user/*
!/user/pages/
/user/pages/*reports

!/user/images/

!/user/plugins/
/user/plugins/*
!/user/plugins/admin/
!/user/plugins/alfa-admin/
!/user/plugins/instagram/
/user/plugins/instagram/README.md
/user/plugins/instagram/CHANGELOG.md

!/user/themes/
/user/themes/*
!/user/themes/urban
