/*
!.gitignore
!.htaccess
!/user

/user/*
!/user/pages/
/user/pages/*reports

!/user/images/

!/user/config/
/user/config/*
!/user/config/plugins/
/user/config/plugins/email.yaml
/user/config/plugins/instagram.yaml
/user/config/plugins/login.yaml

!/user/plugins/
/user/plugins/*
!/user/plugins/admin/
!/user/plugins/alfa-admin/
!/user/plugins/instagram/
/user/plugins/instagram/README.md
/user/plugins/instagram/CHANGELOG.md

!/user/themes/
/user/themes/*
!/user/themes/urban
