@import 'tailwindcss';
@source "../../../../../plugins/order/views/templates/alfa_standard/";
@source "../../../../../plugins/order/views/templates/alfa_wizard/";
@source "../../../../../helpers/widget_client/widget_client.php";
@source "../../../../../plugins/domains/views/alfa/";
@source "../../../../../plugins/support_manager/views/alfa/";

/* source from pagination */
/* TODO: avoid using this file (side effects in admin area's pagination) */
@source "../../../../../config/blesta.php";

@utility container {
    margin-inline: auto;
}

@layer base {
    html {
        @apply scroll-smooth;
        /* animation: onLoadFade 0.25s; */
    }

    body {
        @apply text-slate-800;
    }

    @view-transition {
        navigation: auto;
    }

    /*   @keyframes onLoadFade {
      from {
          opacity: 0.25;
      }

      to {
          opacity: 1;
      }
  } */

    [popovertarget] {
        @apply cursor-pointer;
    }

    [popover] {
        @apply hidden opacity-0 transition-all;

        &:popover-open {
            @apply flex flex-col rounded-md border-2 border-blue-400 text-left opacity-100 shadow-lg;

            & a {
                @apply px-6 py-2 first:pt-4 last:pb-4 hover:bg-blue-100;
            }
        }
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-2xl;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-semibold;
    }

    select,
    input[type='text'],
    input[type='textarea'],
    input[type='password'] {
        @apply min-h-10 w-full rounded-xs bg-gray-200 px-3 py-1.5 text-lg font-semibold text-black outline-hidden transition-all focus:ring-3 focus:ring-blue-200;
    }

    input::placeholder {
        @apply font-normal text-gray-400;
    }

    input[type='radio'] {
        @apply relative top-0.5 mr-2 h-4 w-4 appearance-none rounded-full bg-white/60 ring-2 ring-black checked:border-3 checked:border-white checked:bg-black;
    }

    input[type='checkbox'] {
        @apply relative top-0.5 mr-2 h-4 w-4 appearance-none rounded-xs bg-white/60 text-center text-sm font-bold text-black ring-2 ring-gray-800 checked:bg-gray-800 checked:ring-2 checked:ring-gray-800 checked:after:relative checked:after:-top-[3px] checked:after:text-white checked:after:content-['✓'];
    }

    [disabled] {
        @apply cursor-not-allowed! opacity-50;
    }

    label {
        @apply text-sm font-semibold text-gray-500 uppercase;
    }

    label ~ input,
    label ~ select {
        @apply mt-1;
    }

    main a {
        @apply font-semibold text-blue-600 transition-all hover:text-black;
    }

    header,
    footer {
        background-image: radial-gradient(farthest-corner at 40px 40px, #1d4ed8 0%, #0037ad 100%);
    }
}

@layer components {
    .alv-tab {
        @apply relative w-1/2 rounded-md border-2 border-blue-200 px-8 py-4 text-center after:absolute after:-bottom-0.25 after:left-0 after:w-full after:text-xl after:leading-0 after:text-blue-200 checked:border-2 checked:border-blue-500 hover:cursor-pointer has-[:checked]:border-2 has-[:checked]:border-blue-200 has-[:checked]:bg-blue-200 has-[:checked]:after:content-['🞃'] [&_input[type='radio']]:hidden [input-radio]:hidden;
    }

    .btn {
        @apply inline-flex items-center gap-2 rounded-sm border border-blue-400 bg-blue-500 px-6 py-1 text-sm font-semibold uppercase ring-2 ring-blue-200 transition-all hover:cursor-pointer;
    }

    .btn-lg {
        @apply inline-flex items-center gap-2 rounded-md border border-blue-400 bg-blue-600 px-8 py-4 text-xl font-semibold text-white uppercase ring-3 ring-blue-200 transition-all hover:cursor-pointer;
    }

    .btn-success {
        @apply bg-linear-to-br from-emerald-500 to-emerald-600 text-white ring-emerald-200 hover:to-emerald-500;
    }

    .btn-danger {
        @apply border-rose-400 bg-linear-to-br from-rose-500 to-rose-600 text-white ring-rose-200 hover:to-rose-500;
    }

    .triangle-right {
        @apply relative rounded-sm;

        &::after {
            clip-path: polygon(0% 0%, 10% 50%, 0% 100%);
            @apply absolute top-0 -right-1/2 z-10 -ml-8 h-full w-1/2 -translate-x-0.25 bg-black content-[''];
        }
    }

    .triangle-blue {
        @apply bg-blue-700 after:bg-blue-700;
    }

    .triangle-black {
        @apply bg-slate-950 after:bg-slate-950;
    }
}

@utility disabled {
    @apply [&_a]:border-slate-500 [&_a]:text-slate-500 [&_a]:hover:cursor-default;
}

@utility alv-linear-gradient-white {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 2%,
        rgba(255, 255, 255, 0.25) 25%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 75%,
        rgba(255, 255, 255, 0) 98%
    );
}

@utility alv-half-gray {
    @apply bg-gradient-to-r from-white from-50% via-gray-200 to-gray-200 py-32;
}

@utility alv-input-lg {
    @apply rounded-xs px-4 py-3 text-xl font-semibold;
}

@utility alv-input-label-lg {
    @apply text-sm;
}

@utility alv-btn-lg {
    @apply rounded-md px-12 py-3 text-xl uppercase hover:cursor-pointer;
}

@utility alv-btn-black {
    @apply bg-black text-white hover:bg-gray-900;
}

@layer utilities {
    .alert {
        @apply relative bottom-0 flex w-full scale-100 gap-12 overflow-clip rounded-md border-l-4 border-slate-400 bg-linear-to-r from-slate-100 to-white py-7 pl-9 text-slate-900 opacity-100 before:absolute before:left-2 [&_~_*]:mt-16;

        & a {
            @apply inline-flex items-center gap-2 rounded-full border px-4 py-1 text-sm font-semibold text-white uppercase transition-all;
        }

        & button.close {
            @apply flex h-7 w-7 items-start justify-center pt-2 text-2xl leading-2 font-bold opacity-70 transition-all hover:cursor-pointer hover:text-black hover:opacity-100;
        }
    }

    .alert-success {
        @apply border-emerald-400 from-emerald-100 text-emerald-900 before:content-['❗'];
    }

    .alert-danger {
        @apply border-rose-400 from-rose-100 text-rose-900 before:content-['❗'];
    }

    .alert-warning {
        @apply border-amber-400 from-amber-100 text-amber-900 before:content-['❗'];
    }

    .alert-info {
        @apply border-sky-400 from-sky-100 text-sky-900 before:content-['❗'];
    }
}
