@import "tailwindcss";

@utility container {
    margin-inline: auto;
}

html {
  @apply scroll-smooth;
  animation: onLoadFade 0.25s;
}

@keyframes onLoadFade {
    from {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}

[popover] {
  display: none;
  opacity: 0;
  transition:
    opacity 300ms,
    display 300ms allow-discrete,
    overlay 500ms allow-discrete;

  &:popover-open {
    display: block;
    opacity: 1;
  }
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl
}

h1,
h2,
h3 {
  @apply font-semibold;
}

h1 + * {
  @apply mt-8 border;
}

header,
footer {
  background-image: radial-gradient(farthest-corner at 40px 40px, #1d4ed8 0%, #0037ad 100%);
}

@utility alv-linear-gradient-white {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 2%,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    rgba(255, 255, 255, 0) 98%
  );
}
