{% extends 'partials/base.html.twig' %}

{% block content %}
    {#{{ page.content|raw }}#}
    <video loop controls src="https://previews.customer.envatousercontent.com/h264-video-previews/6ecdfd5b-1a34-4e9a-8618-388ad76be438/28890326.mp4"></video>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum harum nam rem illo facere saepe neque facilis possimus, dolores, omnis corporis atque. Repudiandae quia aperiam, magni fuga quisquam amet tenetur ea unde ratione optio voluptas magnam consequuntur eligendi officiis? Illum culpa nulla totam magnam, eius ipsa recusandae ut inventore voluptas delectus aperiam nam ipsam, odit expedita natus, repudiandae aspernatur veritatis tempora ducimus aut? Reprehenderit debitis obcaecati, id odit, ab asperiores quod provident facere porro accusamus eius dicta. Excepturi atque aliquam consequatur ratione id, nihil odio commodi quae itaque sapiente rerum labore neque, officia veritatis cum nulla consequuntur impedit iure dolorum?</p>
{% endblock %}
