<IfModule mod_rewrite.c>
    RewriteEngine On
    # Development RewriteBase
    # RewriteBase /astro/dist

    # Production RewriteBase
    RewriteBase /
    
    # SEO redirections
    RewriteRule ^servicios-publicitarios/(.*)$ $1 [R=301,L]
</IfModule>

# Deny all access to .db files
<FilesMatch "\.(db|sqlite|sqlite3|env)$">
    Require all denied
</FilesMatch>
