# Begin - Prevent Browsing and Set Default Resources
Options -Indexes
DirectoryIndex index.php index.html index.htm
# End - Prevent Browsing and Set Default Resources

# Deny all access to .db files
<FilesMatch "\.(db|sqlite|sqlite3|env)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Development RewriteBase
    # RewriteBase /astro/dist

    # Production RewriteBase
    RewriteBase /
    
    # SEO redirections
    RewriteRule ^servicios-publicitarios/(.+)$ $1 [R=301,L]

    ## Begin - Security inherited from Grav
    # Block all direct access for these folders
    RewriteRule ^(\.git|cache|bin|logs|backup|webserver-configs|tests)/(.*) error [F]
    # Block access to specific file types for these system folders
    RewriteRule ^(system|vendor)/(.*)\.(txt|xml|md|html|json|yaml|yml|php|pl|py|cgi|twig|sh|bat)$ error [F]
    # Block access to specific file types for these user folders
    RewriteRule ^(user)/(.*)\.(txt|md|json|yaml|yml|php|pl|py|cgi|twig|sh|bat)$ error [F]
    # Block all direct access to .md files:
    RewriteRule \.md$ error [F]
    # Block all direct access to files and folders beginning with a dot
    RewriteRule (^|/)\.(?!well-known) - [F]
    # Block access to specific files in the root folder
    RewriteRule ^(LICENSE\.txt|composer\.lock|composer\.json|\.htaccess)$ error [F]
    ## End - Security
</IfModule>

<IfModule mod_expires.c>
    # One year for image files
    <filesMatch ".(jpg|jpeg|png|gif|ico|webp|svg)$">
    Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
    # One month for css and js
    <filesMatch ".(css|js)$">
    Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
</IfModule>
