/*
!.gitignore
!.htaccess
!/user
!_svelte

/user/*
!/user/pages/

!/user/images/

!/user/plugins/
/user/plugins/*
!/user/plugins/admin/
!/user/plugins/alfa-admin/

!/user/themes/
/user/themes/*
!/user/themes/alfa

!/area/
/area/*
!/area/app/
/area/app/*
!/area/app/views/
/area/app/views/*
!/area/app/views/client/
/area/app/views/client/*
!/area/app/views/client/alfa/

