/*
!.gitignore
!.htaccess
!/user
!_svelte

/user/*
!/user/pages/

!/user/images/

!/user/plugins/
/user/plugins/*
!/user/plugins/admin/
!/user/plugins/alfa-admin/

!/user/themes/
/user/themes/*
!/user/themes/alfa

!/area/
/area/*
!/area/app/
/area/app/*
!/area/app/views/
/area/app/views/*
!/area/app/views/client/
/area/app/views/client/*
!/area/app/views/client/alfa/

!/area/language/
/area/language/*
!/area/language/en_us/
!/area/language/es_es/
/area/language/en_us/*
/area/language/es_es/*
!/area/language/en_us/_global.php
!/area/language/es_es/_global.php

!/area/helpers/
/area/helpers/*
!/area/helpers/widget_client/

!/area/plugins/
/area/plugins/*
!/area/plugins/order/
/area/plugins/order/*
!/area/plugins/order/views/
/area/plugins/order/views/*
!/area/plugins/order/views/templates/
/area/plugins/order/views/templates/*
!/area/plugins/order/views/templates/alfa_standard/
!/area/plugins/domains/
/area/plugins/domains/*
!/area/plugins/domains/domains_controller.php
!/area/plugins/domains/views/
/area/plugins/domains/views/*
!/area/plugins/domains/views/alfa/
!/area/plugins/support_manager/
/area/plugins/support_manager/*
!/area/plugins/support_manager/support_manager_controller.php
!/area/plugins/support_manager/views/
/area/plugins/support_manager/views/*
!/area/plugins/support_manager/views/alfa/
/area/plugins/support_manager/views/alfa/*
!/area/plugins/support_manager/views/alfa/client_main.pdt

