<footer class="mt-36 pb-36">
    <div class="footer text-center">
        <div class="">
            <p>
                <a href="#">empiric.studio</a>, by
                <a href="https://alv.dev">alv.dev</a>.
            </p>
        </div>
    </div>
</footer>
