{% block header %}
    <header>
        <nav class="flex place-content-between py-8">
            <div class="logo">
                {{ svg('image://empiric.svg')|raw }}
            </div>

            <div class="flex items-center gap-16">
                <ul class="flex gap-12 items-center content-center font-semibold uppercase">
                    <li>
                        <a href="/">Web</a>
                    </li>
                    <li>
                        <a href="#">App</a>
                    </li>
                    <li>
                        <a href="#">SEO</a>
                    </li>
                    <li>
                        <a href="#">PPC</a>
                    </li>
                    <li>
                        <a href="blog">Blog</a>
                    </li>
                </ul>

                <div class="burger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
            </div>
        </nav>
        <hgroup class="mt-16 ">
            <h1 class="text-8xl text-gray-900 font-bold">Creamos webs de alto rendimiento para posicionamiento web</h1>
            <p class="mt-8 text-gray-500">Dato empírico: Una pirámide es la estructura arquitectónica más sólida y duradera.</p>
        </hgroup>
    </header>
{% endblock %}
