---
import { Image } from "astro:assets";
import Dossier from "@/components/banners/Dossier.astro";
import banner from "@/assets/images/header/pegada-de-carteles.webp";

const baseUrl = import.meta.env.BASE_URL;
---

<div class="bg-black text-white text-center relative rounded-xs overflow-hidden">
    <div class="relative p-8 text-2xl text-balance">
        Conoce nuestro servicio de <a
            href={baseUrl}
            class="btn block text-lg border-2 text-orange-300 border-orange-300 mt-6 px-1 bg-transparent shadow-white/30"
        >
            pegada de carteles
        </a>
    </div>
    <div
        class="relative overflow-hidden before:shadow-[0_0_25px_15px_black] before:w-full before:absolute before:left-0"
    >
        <Image
            src={banner}
            class="w-full object-cover brightness-110 contrast-110 mask-t-from-30%"
            alt="pegada de carteles"
            width={300}
            height={150}
        />
    </div>
</div>
