@import "tailwindcss";
@plugin "@tailwindcss/typography";

[x-cloak] {
    display: none !important;
}

@utility debug-screens {
    &::before {
        @apply fixed bottom-0 left-0 z-2147483647 rounded-tr-sm bg-yellow-400 px-[0.5em] py-[0.3333333em] text-xs leading-none font-bold text-black;

        @variant sm {
            content: "screen: sm";
        }

        @variant md {
            content: "screen: md";
        }

        @variant lg {
            content: "screen: lg";
        }

        @variant xl {
            content: "screen: xl";
        }
    }
}

@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
    src: url('../fonts/ysabeau.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
    --font-display: 'Ysabeau', sans-serif;
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply text-white font-sans;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold leading-tight font-display;
    }

    p {
        @apply text-xl leading-relaxed;
    }

    a {
        @apply font-display;
    }

    a:hover, button:hover {
        @apply cursor-pointer;
    }

    input, textarea, select {
        @apply outline-none;
    }
}

@utility container {
    @apply mx-auto px-[3vw] lg:px-[2vw];
}

@keyframes infinite-scroll-r {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(0%);
    }
}

@utility animate-infinite-scroll-r {
    animation-name: infinite-scroll-r;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
