@import "tailwindcss";

@utility debug-screens {
    &::before {
        @apply fixed bottom-0 left-0 z-2147483647 rounded-tr-sm bg-yellow-400 px-[0.5em] py-[0.3333333em] text-xs leading-none font-bold text-black;

        @variant sm {
            content: "screen: sm";
        }

        @variant md {
            content: "screen: md";
        }

        @variant lg {
            content: "screen: lg";
        }

        @variant xl {
            content: "screen: xl";
        }
    }
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply text-white;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold leading-tight;
    }

    p {
        @apply text-xl leading-relaxed;
    }

    a:hover, button:hover {
        @apply cursor-pointer;
    }

    input, textarea, select {
        @apply outline-none;
    }
}

@utility container {
    @apply mx-auto px-[2vw];
}
