---
import Base from "@/layouts/Base.astro";

const title = "Política de Cookies";
export const anchorText = "Cookies";
---

<Base
    title="Política de Cookies | Urban Style Publicity"
    description='La presente Política de Cookies tiene como objetivo informar a los usuarios ("usted", "su") de nuesto sitio web acerca del uso de cookies.'
>
    <main
        class="container mt-56 prose-xl prose-h1:text-5xl prose-h1:font-extrabold prose-h2:text-3xl prose-h2:font-bold prose-h3:text-2xl prose-h3:font-semibold prose-p:text-gray-600 prose-ul:ml-0 prose-ol:ml-0"
    >
        <h1>{title}</h1>
        <p>
            La presente Política de Cookies tiene como objetivo informar a los usuarios ("usted", "su") del sitio web
            www.urbanstylepublicity.es ("nosotros", "nuestro", "sitio") acerca del uso de cookies y tecnologías
            similares en nuestra plataforma. Al utilizar nuestro sitio, usted acepta el uso de cookies de acuerdo con
            esta política. Si no está de acuerdo con el uso de cookies, le recomendamos ajustar la configuración de su
            navegador o abstenerse de utilizar nuestro sitio.
        </p>
        <h2>1. ¿Qué son las cookies?</h2>
        <p>
            Las cookies son pequeños archivos de texto que se almacenan en su dispositivo (computadora, tablet,
            smartphone) cuando accede a nuestro sitio web. Estas cookies contienen información que se utiliza para
            mejorar su experiencia en línea y para recopilar datos sobre su comportamiento de navegación.
        </p>
        <h2>2. Tipos de Cookies que Utilizamos</h2>
        <p>
            a) <strong>Cookies Esenciales:</strong> Estas cookies son necesarias para el funcionamiento básico de nuestro
            sitio. Le permiten navegar por las páginas y utilizar las características esenciales, como acceder a áreas seguras.
            Sin estas cookies, algunos servicios no estarán disponibles.
        </p>
        <p>
            b) <strong>Cookies de Rendimiento:</strong> Estas cookies recopilan información sobre cómo los visitantes utilizan
            nuestro sitio, como las páginas que visitan con mayor frecuencia y si reciben mensajes de error. Estas cookies
            se utilizan para mejorar el rendimiento y la funcionalidad de nuestro sitio.
        </p>
        <p>
            c) <strong>Cookies de Funcionalidad:</strong> Estas cookies permiten que nuestro sitio recuerde las elecciones
            que usted hace (como su nombre de usuario, idioma o región) y proporcionan características mejoradas y más personales.
        </p>
        <p>
            d) <strong>Cookies de Publicidad y Terceros:</strong> Utilizamos cookies de terceros para recopilar información
            sobre sus actividades en línea y ofrecerle anuncios adaptados a sus intereses. Estas cookies también se utilizan
            para medir la efectividad de nuestras campañas publicitarias.
        </p>
        <h2>3. Control de Cookies</h2>
        <p>
            Usted puede controlar y administrar las cookies en su navegador. Puede configurar su navegador para que le
            notifique cuando se envíen cookies, y puede optar por aceptarlas o rechazarlas. Tenga en cuenta que rechazar
            las cookies puede afectar la funcionalidad de nuestro sitio y su experiencia de navegación.
        </p><h2>4. Enlaces a Otros Sitios Web</h2>
        <p>
            Nuestro sitio puede contener enlaces a otros sitios web que operan bajo políticas de cookies distintas. No
            tenemos control sobre estas cookies ni sobre las políticas de privacidad de estos sitios. Le recomendamos
            revisar las políticas de cookies de esos sitios antes de proporcionar cualquier información personal.
        </p>
        <h2>5. Cambios en la Política de Cookies</h2>
        <p>
            Nos reservamos el derecho de modificar esta Política de Cookies en cualquier momento. Las actualizaciones
            entrarán en vigencia en el momento en que se publiquen en nuestro sitio. Le recomendamos revisar
            regularmente esta página para mantenerse informado sobre cualquier cambio.
        </p>
        <p>
            Al utilizar nuestro sitio, usted acepta el uso de cookies de acuerdo con esta Política de Cookies. Si tiene
            preguntas o inquietudes sobre nuestra política, no dude en ponerse en contacto con nosotros.
        </p>
        <p>
            Esta política de cookies es parte integral de nuestros Términos y Condiciones y de nuestra Política de
            Privacidad.
        </p>
    </main>
</Base>
