---
import Base from "@/layouts/Base.astro";

const title = "Política de privacidad";
export const anchorText = "Privacidad";
---

<Base
    title="Política de privacidad | Urban Style Publicity"
    description="La presente Política de Privacidad describe cómo recopilamos, usamos y protegemos la información personal que usted proporciona en nuesto sitio web."
>
    <main
        class="container mt-56 prose-xl prose-h1:text-5xl prose-h1:font-extrabold prose-h2:text-3xl prose-h2:font-bold prose-h3:text-2xl prose-h3:font-semibold prose-p:text-gray-600 prose-ul:ml-0 prose-ol:ml-0"
    >
        <h1>{title}</h1>
        <p>
            La presente Política de Privacidad describe cómo recopilamos, usamos y protegemos la información personal
            que usted proporciona al utilizar el sitio web www.urbanstylepublicity.es ("nosotros", "nuestro", "sitio").
            Al utilizar nuestro sitio, usted acepta los términos descritos en esta política. Si no está de acuerdo con
            alguno de los términos, le recomendamos abstenerse de utilizar nuestro sitio.
        </p>
        <h2>1. Información que Recopilamos</h2>
        <p>
            a) <strong>Información Personal:</strong> Podemos recopilar información personal, como su nombre, dirección de
            correo electrónico y otra información que usted decida proporcionar al completar formularios en nuestro sitio.
        </p>
        <p>
            b) <strong>Información de Uso:</strong> Recopilamos información sobre cómo usted interactúa con nuestro sitio,
            como las páginas que visita, el tiempo que pasa en el sitio y otros datos de uso.
        </p>
        <h2>2. Uso de la Información</h2>
        <p>
            a) Utilizamos la información personal para responder a sus consultas, procesar sus pedidos y brindarle
            información relevante sobre nuestros productos o servicios.
        </p>
        <p>
            b) La información de uso nos ayuda a mejorar la calidad y funcionalidad de nuestro sitio, así como a
            comprender mejor las necesidades de nuestros usuarios.
        </p><h2>3. Compartir Información</h2>
        <p>No compartimos su información personal con terceros, excepto en los siguientes casos:</p>
        <p>a) Cuando sea necesario para cumplir con solicitudes legales, procesos legales o regulaciones.</p><p>
            b) Con proveedores de servicios que trabajan en nuestro nombre y requieren acceso a su información para
            brindar servicios relacionados con nuestro sitio.
        </p>
        <h2>4. Seguridad de la Información</h2>
        <p>
            Tomamos medidas razonables para proteger su información personal contra el acceso no autorizado, la
            divulgación o la modificación. Sin embargo, ninguna transmisión por Internet es completamente segura, y no
            podemos garantizar la seguridad absoluta de la información.
        </p>
        <h2>5. Enlaces a Otros Sitios Web</h2>
        <p>
            Nuestro sitio puede contener enlaces a otros sitios web que operan bajo políticas de privacidad distintas.
            No tenemos control sobre estas políticas ni sobre las prácticas de privacidad de estos sitios. Le
            recomendamos revisar las políticas de privacidad de esos sitios antes de proporcionar cualquier información
            personal.
        </p>
        <h2>6. Cambios en la Política de Privacidad</h2>
        <p>
            Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Las actualizaciones
            entrarán en vigencia en el momento en que se publiquen en nuestro sitio. Le recomendamos revisar
            regularmente esta página para mantenerse informado sobre cualquier cambio.
        </p>
        <h2>7. Contacto</h2>
        <p>
            Si tiene preguntas o inquietudes sobre nuestra política de privacidad, puede ponerse en contacto con
            nosotros.
        </p>
        <p>Esta política de privacidad es parte integral de nuestros Términos y Condiciones.</p>
    </main>
</Base>
