{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        {% if '/legal/' not in page.url %}
            <section class="hero torn-bottom">
                <div class="container">
                    <div class="absolute z-10 -bottom-[.15rem] sm:bottom-0 flex items-end h-full pr-8 align-text-bottom {# bottom-16 md:bottom-20 #} lg:w-10/12 xl:w-3/4">
                        <h1 class="mb-0 lg:-mb-1.5 max-w-min px-8 pt-4 bg-white text-[2.4rem] m-0 sm:text-[3.5rem] md:text-7xl lg:text-[5.25rem] xl:text-[5.5rem] uppercase drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                            {{ page.title }}
                        </h1>
                    </div>
                </div>
                {{ media|first.derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', page.title, 'm-0 h-[50vh] md:h-[75vh] w-full object-cover brightness-125 contrast-110')|raw }}
            </section>
        {% endif %}

        <div class="container mt-16">
            {% if '/legal/' in page.url %}
                <h1>
                    {{ page.title }}
                </h1>
            {% endif %}
            {{ content|raw }}
        </div>
    </main>
{% endblock %}
