{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none mt-28">
        <section class="container">
            <h1 class="uppercase">
                {{ 'DEFAULT.404_TITLE'|t }}
            </h1>
            {{ 'DEFAULT.404_DESC'|t }}
        </section>
    </main>
{% endblock %}
