{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none mt-28">
        <section class="container">
            <h1>
                {{ 'THEME_TAILWIND.ERROR'|t }}
            </h1>
            {{ page.content|raw }}
        </section>
    </main>
{% endblock %}
