{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="video torn relative after:absolute after:w-full after:h-8 after:-bottom-6">
            <div class="container">
                <div class="absolute -bottom-1 uppercase font-bold max-w-min text-white text-7xl">
                    Somos Urban Style Publicity
                </div>
            </div>
            <video src="{{ url('theme://video/pegada-de-carteles-video.mp4') }}"
                   autoplay
                   loop
                   muted
                   class="w-full m-0 aspect-video">
            </video>
        </section>
        <div class="container mt-28">
            <h1>
                {{ page.title }}
            </h1>
 
            {{ page.content|raw }}
        </div>

        {{ deferred_instagram_feed() }}

        <section class="container mt-24">
            <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
                             alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
                             alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
                             alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
                             alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
