<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@graph": [
            {
                "@type": "WebPage",
                "@id": "https://urbanstylepublicity.com/",
                "url": "https://urbanstylepublicity.com",
                "name": "Pegada de carteles en Madrid, Barcelona y resto de España",
                "isPartOf": { "@id": "https://urbanstylepublicity.com/#website" },
                "primaryImageOfPage": { "@id": "https://urbanstylepublicity.com#primaryimage" },
                "image": { "@id": "https://urbanstylepublicity.com#primaryimage" },
                "thumbnailUrl": "https://urbanstylepublicity.com/user/themes/urban/images/headers/pegada-de-carteles.webp",
                "datePublished": "2023-09-22T20:55:36+00:00",
                "dateModified": "2023-09-20T09:57:14+00:00",
                "description": "¿Ofrecen servicio de reposición de carteles? Sí, hacemos pegadas de carteles con seguimiento y reposición 24h de carteles dañados o tapados.",
                "breadcrumb": { "@id": "https://urbanstylepublicity.com#breadcrumb" },
                "inLanguage": "es",
                "potentialAction": [{ "@type": "ReadAction", "target": ["https://urbanstylepublicity.com"] }]
            },
            {
                "@type": "ImageObject",
                "inLanguage": "es",
                "@id": "https://urbanstylepublicity.com#primaryimage",
                "url": "https://urbanstylepublicity.com/user/themes/urban/images/headers/pegada-de-carteles.webp",
                "contentUrl": "https://urbanstylepublicity.com/user/themes/urban/images/headers/pegada-de-carteles.webp",
                "width": 92,
                "height": 92,
                "caption": "publicidad con carteles"
            },
            {
                "@type": "BreadcrumbList",
                "@id": "https://urbanstylepublicity.com#breadcrumb",
                "itemListElement": [{ "@type": "ListItem", "position": 1, "name": "pegada de carteles" }]
            },
            {
                "@type": "WebSite",
                "@id": "https://urbanstylepublicity.com/#website",
                "url": "https://urbanstylepublicity.com/",
                "name": "Pegada de carteles",
                "description": "Referente absoluto en la pegada de carteles, avalada por su amplia cartera de clientes y la satisfacción que han demostrado. Entra y compruébalo.",
                "potentialAction": [
                    {
                        "@type": "SearchAction",
                        "target": {
                            "@type": "EntryPoint",
                            "urlTemplate": "https://urbanstylepublicity.com/?s={search_term_string}"
                        },
                        "query-input": "required name=search_term_string"
                    }
                ],
                "inLanguage": "es"
            }
        ]
    }
</script>
