<section class="px-8 py-24 mb-24 bg-gray-200">
	<h2 class="mb-12 text-center">
		No sólo nuestro nombre<br />de dominio es diferente
	</h2>
	<div class="grid gap-8 md:grid-cols-2">
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
            {% include 'modular/alfa-features/affiliate-program.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Programa de afiliados</h3>
				<p>
					Nuestro programa de afiliados no es como el resto. Cada afiliado que recomienda nuestros
					servicios es porque es cliente, no es alguien que promociona nuestros servicios sin
					conocerlos.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
                {% include 'modular/alfa-features/clients-friends.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Clientes como amigos</h3>
				<p>
					Quieres convertirte en un empresario digital, no puedes estar sólo. Nos preocupamos por
					ti, por tu estado de ánimo. Compartimos las inquietudes y preocupaciones que sufre un
					emprendedor digital.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/pay-as-you-can.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Paga cuando puedas</h3>
				<p>
					Ofrecemos 15 días desde el vencimiento de tus facturas para abonarlas sin suspender el
					servicio. Y si decides no pagarlas, nadie te meterá en ninguna lista de morosos como otras
					empresas.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/99-uptime.svg' %}
			</div>
			<div>
				<h3 class="mb-4">99.99% de actividad</h3>
				<p>
					Trabajamos cada día de manera permanente para mantener tu sitio web online el 100% del
					tiempo, pudiendo garantizarte un servicio prácticamente sin interrupciones.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/proactive-support.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Soporte proactivo 24x7</h3>
				<p>
					Nuestras puertas siempre están abiertas, siempre estamos alerta y nunca nos olvidamos de
					ti. Pide ayuda a las 3:00 am la noche de año nuevo y la tendrás. Es parte de nuestro
					compromiso contigo.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/constant-monitoring.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Seguimiento constante</h3>
				<p>
					No sólo velamos por el buen funcionamiento de tus servicios contratados, además hacemos un
					seguimiento constante de tu negocio digital para ayudarte a mejorarlo y seguir creciendo.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/warranty.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Compromiso y garantía</h3>
				<p>
					Si en 30 días no cumplimos con tus expectativas, detectas un fallo grave o un problema
					importante, o simplemente decides que iWolf Hosting no es para ti, te devolvemos el dinero
					sin excusas.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/unbeatable-prices.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Precios incomparables</h3>
				<p>
					¿Cuánto vale contar con alguien más preocupado por tu negocio digital que tus propios
					empleados? La atención que recibirás hace que cualquiera de nuestros servicios tengan un
					precio ridículo.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/honesty-sincerity.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Honestidad y sinceridad</h3>
				<p>
					Si necesitas mejorar algo, se te comunicará. Si tu negocio digital se estanca, se te
					aconsejará. Si fallamos en algo, lo corregiremos. Ya no necesitas más motivación. Ahora
					necesitas resultados.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/fast-business.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Rapidez para tu negocio</h3>
				<p>
					Google valora los sitios web rápidos para el posicionamiento web. Cuanto más rápidos,
					mejor. Tu sitio web alojado en iWolf Host será más rápido que el de los expertos en SEO.
					¿Quieres apostar algo?
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/freedom-without-conditions.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Libertad sin condiciones</h3>
				<p>
					Hay empresas con servicios más baratos, pero debes leer la letra pequeña. Puedes estar
					condenado a cumplir contratos y terminar en una lista de morosos. Aquí eres libre de irte
					cuando quieras.
				</p>
			</div>
		</div>
		<div
			class="flex flex-col justify-center gap-6 p-8 bg-white rounded shadow-sm xl:flex-row xl:gap-8"
		>
			<div>
				{% include 'modular/alfa-features/more-than-a-hosting.svg' %}
			</div>
			<div>
				<h3 class="mb-4">Más que hosting web</h3>
				<p>
					Un empresario digital debería saber de tecnología. Sistemas operativos, gestores de
					contenido, software de promoción, móviles y apps, hacking y seguridad online... ¿De qué
					quieres hablar?
				</p>
			</div>
		</div>
	</div>
</section>
