<section class="make-entrepreneurs py-24 mb-16 bg-center bg-no-repeat bg-cover border-t-4 border-b-4 border-gray-200 md:bg-contain md:bg-left">
    <div class="container">
        <div class="mb-12 ml-auto text-sm font-semibold text-right text-black md:text-2xl">
            <div class="table p-2 pr-8 mb-2 ml-auto bg-white bg-opacity-70">
                El combustible del emprendedor son las ideas
            </div>

            <div class="table p-2 pr-8 ml-auto bg-white bg-opacity-70">
                El combustible del empresario son los resultados
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-2 text-2xl font-bold text-right uppercase md:text-4xl">
        <div class="w-fit self-end bg-black text-white py-1 pl-2 pr-8 md:pr-64">
            Convertir emprendedores
        </div>
        <div class="w-fit self-end bg-black text-white py-1 pl-2 pr-8 md:pr-64">
            en empresarios digitales
        </div>
        <div class="w-fit self-end bg-black text-white py-1 pl-2 pr-8 md:pr-64">
            es el principal objetivo
        </div>
    </div>
</section>
