{% do assets.addJs('theme://js/main-menu.js', {loading: 'defer'}) %}

{% block header %}
<header class="relative z-10 bg-blue-700 h-96">
    <div>
        <div class="items-center justify-between px-8 py-3 text-sm bg-opacity-50 topnav md:flex">
            <div class="justify-between hidden gap-4 md:inline-flex">
                <span>
                    +34 902 750 355
                </span>
                <span>
                    Chat en vivo
                </span>
            </div>
            <div class="grid justify-between grid-flow-col gap-4 text-center md:inline-flex">
                <a href="./" class="flex items-center gap-2 px-3 py-1 text-white rounded-sm">
                    {% include 'modular/header/webmail.svg' %} Web mail
                </a>
                <a href="./" class="flex items-center gap-2 px-3 py-1 text-white rounded-sm">
                    {% include 'modular/header/cpanel.svg' %} cPanel
                </a>
                <a href="./" class="flex items-center gap-2 px-3 py-1 text-white border rounded-sm">
                    {% include 'modular/header/clients.svg' %}
                    Area de clientes
                </a>
            </div>
        </div>

        {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% block slideshow %}
            {% include 'modular/slideshow.html.twig' %}
        {% endblock %}

    </div>
</header>
{% endblock %}
