{% do assets.addJs('https://cdn.jsdelivr.net/npm/@glidejs/glide', {loading: 'defer', priority: 2, id: 'custom-css'}) %}
{% do assets.addJs('theme://js/header-slideshow.js', {loading: 'defer', priority: 1, id: 'custom-css'}) %}

<div class="glide-header relative">
    <div data-glide-el="track" class="glide__track flex">
        <div class="glide__slides flex text-white">
            <article class="glide__slide p-8 flex gap-4">
                <div class="w-2/3">
                    <div class="uppercase text-5xl font-semibold mb-4">Despre<span class="text-blue-400">ocúpate</span>
                    </div>
                    <div class="uppercase text-2xl font-medium mb-4">La comodidad de poder delegar en personal
                        cualificado
                        las tareas que tu negocio necesita</div>
                    <div class="flex mb-8">
                        <i class="w-4 mt-1 mr-2">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-square"
                                class="svg-inline--fa fa-check-square fa-w-14" role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512">
                                <path fill="currentColor"
                                    d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z">
                                </path>
                            </svg>
                        </i>Ahorra gastos en empleados. Rompemos los precios en subcontratación de personal.
                    </div>
                    <button class="border-2 rounded p-4 uppercase hover:text-black hover:bg-white font-medium">Conoce
                        los servicios adicionales que puedes contratar</button>
                </div>

                <div>
                    <div>Posicionamiento en buscadores</div>
                    <div>Diseño y desarrollo web</div>
                    <div>Social media marketing</div>
                </div>
            </article>

            <article class="glide__slide p-8 flex gap-4">
                <div class="w-2/3">
                    <div class="uppercase text-2xl font-medium mb-8">
                        <div class="mb-1">Un plan de alojamiento web exclusivo con un entrenador personal incluido</div>
                        <div class="uppercase text-5xl font-semibold"><span class="text-blue-400">Para</span>
                            principiantes</div>
                    </div>
                    <ul class="text-xs grid grid-rows-4 grid-flow-col gap-4 mb-8">
                        <li>Tráfico y espacio web ilimitado</li>
                        <li>Nombre de dominio grais</li>
                        <li>99.99% de tiempo de actividad</li>
                        <li>Atención y soporte 24/7/365</li>
                        <li>Panel de control cPanel</li>
                        <li>Constructor web ilimitado</li>
                        <li>Sistema de email marketing</li>
                        <li>Guía para principiantes</li>
                        <li>Informes mensuales SEO</li>
                        <li>Seguimiento personalizado</li>
                        <li>10 cuentas Omega adicionales</li>
                        <li>Asesoría dtelefónica semanal</li>
                    </ul>
                    <button class="border-2 rounded p-4 uppercase hover:text-black hover:bg-white font-medium">Ver todos
                        los planes de alojamiento web</button>
                </div>

                <div>
                    <div>Elige el plan Alfa 1</div>
                </div>
            </article>

            <article class="glide__slide p-8 flex">
                <div>
                    No necesitas más decepciones
                    Necesitas resultados
                    Que no te engañen. Necesitas adquirir ciertos conocimientos y desarrollar ciertas habilidades para
                    emprender
                    en
                    interten con éxito y poder convertirte en empresario digital.
                    La guía más completa que podrás encontrar para crear un negocio en Internet paso a paso
                </div>
                <div>
                    <div>Descarga gratis</div>
                </div>
            </article>

            <article class="glide__slide p-8 flex">
                ¿Sabes realmente lo que significa trabajar por internet?
                Cada vez más y más emprendedorees deciden lanzarse a trabajar por internet.
                No es fácil. Si no eres consciente de lo que significa trabajar online, fracasarás.
                <button>Conoce los requisitos y beneficios de trabajar en internet</button>
            </article>
        </div>
    </div>
    <div class="glide__arrows place-content-center" data-glide-el="controls">
        <button
            class="glide__arrow glide__arrow--left absolute z-10 bg-black bg-opacity-70 hover:bg-opacity-80 top-0 h-auto text-white w-1/12 text-6xl"
            data-glide-dir="<">&#10092;</button>

        <button
            class="glide__arrow glide__arrow--right absolute z-10 bg-black bg-opacity-70 hover:bg-opacity-80 top-0 right-0 h-auto text-white w-1/12 text-6xl"
            data-glide-dir=">">&#10093;</button>
    </div>
</div>
