<section class="p-8 mb-24 text-center features">
	<h2 class="mb-12">
		Todos los planes de<br />alojamiento web incluyen
	</h2>
	<div class="grid justify-between grid-cols-2 gap-4 md:grid-cols-5">
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
				{% include 'modular/hosting-features/control-panel.svg' %}
			</div>
			<div class="p-4">
				<strong>Panel de control cPanel</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/email-accounts.svg' %}
			</div>
			<div class="p-4">
				<strong>Cuentas de email ilimitadas</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/ddbb.svg' %}
			</div>
			<div class="p-4">
				<strong>Bases de datos ilimitadas</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/ftp-accounts.svg' %}
			</div>
			<div class="p-4">
				<strong>Cuentas FTP ilimitadas</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/subdomains.svg' %}
			</div>
			<div class="p-4">
				<strong>Subdominios ilimitados</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/backups.svg' %}
			</div>
			<div class="p-4">
				<strong>Copias de seguridad diarias</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/ssd.svg' %}
			</div>
			<div class="p-4">
				<strong>Discos SSD de alta velocidad</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/coding.svg' %}
			</div>
			<div class="p-4">
				<strong>PHP7/8 en todas sus versiones</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/autoinstaller.svg' %}
			</div>
			<div class="p-4">
				<strong>Autoinstalador de aplicaciones</strong>
			</div>
		</div>
		<div class="uppercase border rounded">
			<div class="p-8 m-auto text-blue-800 bg-gray-200 fill-current ">
                {% include 'modular/hosting-features/web-stats.svg' %}
			</div>
			<div class="p-4">
				<strong>Estadísticas web avanzadas</strong>
			</div>
		</div>
	</div>
</section>
