<section class="p-8 mb-8 text-center lg:mb-16 hosting-plans">
            <h2 class="mb-12">
                El primer paso para emprender:<br>contratar alojamiento web
            </h2>
            <p class="mb-20 text-2xl leading-relaxed">
                Contratar Alfa Host no es sólo contratar alojamiento web,
                es contratar un soporte y un asesoramiento al emprendedor
                digital tan exclusivo y personalizado que ninguna otra
                empresa de hosting en el mercado puede ofrecer. Sus empleados de soporte no saben ayudar al emprendedor
                a hacer crecer su negocio digital.
            </p>

            <div class="flex flex-wrap justify-between mt-12 gap-x-8 gap-y-12">
                <div class="flex-1 border border-gray-200 rounded shadow-xl">
                    <h3 class="p-4">Plan Alfa Uno</h3>
                    <div class="px-4 pt-8 pb-4 text-white bg-blue-600 rounded-sm ring-4 ring-blue-600">
                        <div class="text-5xl font-semibold">
                            $40.95<span class="text-sm">/Month</span>
                        </div>
                        <div class="mb-4">
                            Próximamente
                            <span class="font-bold line-through">$25.95</span>
                        </div>
                        <button
                            class="block w-1/2 p-3 m-auto font-semibold text-black uppercase bg-white border-2 border-blue-400 rounded shadow-md hover:shadow-inner">
                            Contratar
                        </button>
                    </div>
                    <div class="h-8 mx-auto mt-1 mb-4 bg-blue-600 border border-blue-600 triangle"></div>
                    <ul>
                        <li class="p-3 border-b border-gray-100">
                            Espacio en disco: <b>Ilimitado</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Tráfico mensual: <b>Ilimitado</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            RAM garantizada: <b>512 MB</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Constructor web: <b>Alfa Site 1</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Email Marketing: <b>5000 suscriptores</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            <b>10 cuentas Alfa Tres</b> de regalo
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Asesor personal 24/7: <b>Sí</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Soporte: <b>Nivel 1</b>
                        </li>
                    </ul>
                </div>
                <div class="flex-1 border border-gray-200 rounded shadow-xl">
                    <h3 class="p-4">Plan Alfa Dos</h3>
                    <div class="px-4 pt-8 pb-4 text-white bg-black rounded-sm ring-4 ring-black">
                        <div class="text-5xl font-semibold">
                            $20.95<span class="text-sm">/Month</span>
                        </div>
                        <div class="mb-4">
                            Próximamente
                            <span class="font-bold line-through">$25.95</span>
                        </div>
                        <button
                            class="block w-1/2 p-3 m-auto font-semibold text-black uppercase bg-white border-2 border-gray-500 rounded shadow-md hover:shadow-inner">
                            Contratar
                        </button>
                    </div>
                    <div class="h-8 mx-auto mt-1 mb-4 bg-black border border-black triangle"></div>
                    <ul>
                        <li class="p-3 border-b border-gray-100">
                            Espacio en disco: <b>Ilimitado</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Tráfico mensual: <b>Ilimitado</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            RAM garantizada: <b>256 MB</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Constructor web: <b>Alfa Site 1</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Email Marketing: <b>5000 suscriptores</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            <b>5 cuentas Alfa Tres</b> de regalo
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Asesor personal 24/7: <b>No</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Soporte: <b>Nivel 2</b>
                        </li>
                    </ul>
                </div>
                <div class="flex-1 border border-gray-200 rounded shadow-xl">
                    <h3 class="p-4">Plan Alfa Tres</h3>
                    <div class="px-4 pt-8 pb-4 text-white bg-gray-500 rounded-sm ring-4 ring-gray-500">
                        <div class="text-5xl font-semibold">
                            $10.95<span class="text-sm">/Month</span>
                        </div>
                        <div class="mb-4">
                            Próximamente
                            <span class="font-bold line-through">$14.95</span>
                        </div>
                        <button
                            class="block w-1/2 p-3 mx-auto font-semibold text-black uppercase bg-white border-2 border-gray-400 rounded shadow-md hover:shadow-inner">
                            Contratar
                        </button>
                    </div>
                    <div class="h-8 mx-auto mt-1 mb-4 bg-gray-500 border border-gray-500 triangle"></div>
                    <ul>
                        <li class="p-3 border-b border-gray-100">
                            Espacio en disco: <b>Ilimitado</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Tráfico mensual: <b>Ilimitado</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            RAM garantizada: <b>128 MB</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Constructor web: <b>Alfa Site 1</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Email Marketing: <b>5000 suscriptores</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Cuentas de hosting adicionales: <b>No</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Asesor personal 24/7: <b>No</b>
                        </li>
                        <li class="p-3 border-b border-gray-100">
                            Soporte: <b>Nivel 3</b>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
