{% do assets.addJs('https://cdn.jsdelivr.net/npm/@glidejs/glide', {loading: 'defer', id: 'custom-css'}) %}
{% do assets.addJs('theme://js/header.js', {loading: 'defer', id: 'custom-css'}) %}

<div class="glide-header relative">
    <div data-glide-el="track" class="glide__track">
        <div class="glide__slides flex">
            <article class="glide__slide">
                <div>Despreocúpate</div>
                <div>La comodidad de poder delegar en personal cualificado las tareas que tu negocio necesita</div>
                <div>Ahorra gastos en empleados. Rompemos los precios en subcontratación de personal.</div>
                <button>Conoce los servicios adicionales que puedes contratar</button>

                <div>Posicionamiento en buscadores</div>
                <div>Diseño y desarrollo web</div>
                <div>Social media marketing</div>
            </article>

            <article class="glide__slide">
                Un plan de alojamiento web exclusivo con un entrenador personal incluido
                Para principiantes
                <ul>
                    <li>Tráfico y espacio web ilimitado</li>
                    <li>Nombre de dominio grais</li>
                    <li>99.99% de tiempo de actividad</li>
                    <li>Atención y soporte 24/7/365</li>
                    <li>Plane de contros cPanel</li>
                    <li>Constructor web ilimitado</li>
                    <li>Sistema de email maarketing</li>
                    <li>Guía para principiantes</li>
                    <li>Informes mensuales SEO</li>
                    <li>Seguimiento personalizado</li>
                    <li>10 cuentas Omega asicionales</li>
                    <li>Asesoría dtelefónica semanal</li>
                </ul>
                <button>Ver todos los planes de alojamiento web</button>

                <div>Elige el plan Alfa 1</div>
            </article>

            <article class="glide__slide">
                No necesitas más decepciones
                Necesitas resultados
                Que no te engañen. Necesitas adquirir ciertos conocimientos y desarrollar ciertas habilidades para
                emprender
                en
                interten con éxito y poder convertirte en empresario digital.
                La guía más completa que podrás encontrar para crear un negocio en Internet paso a paso
                <div>Descarga gratis</div>
            </article>

            <article class="glide__slide">
                ¿Sabes realmente lo que significa trabajar por internet?
                Cada vez más y más emprendedorees deciden lanzarse a trabajar por internet.
                No es fácil. Si no eres consciente de lo que significa trabajar online, fracasarás.
                <button>Conoce los requisitos y beneficios de trabajar en internet</button>
            </article>
        </div>
    </div>
    <div class="glide__arrows place-content-center" data-glide-el="controls">
        <button
            class="glide__arrow glide__arrow--left absolute z-10 bg-black bg-opacity-70 hover:bg-opacity-80 top-0 h-auto text-white w-1/12 text-6xl"
            data-glide-dir="<">&#10092;</button>

        <button
            class="glide__arrow glide__arrow--right absolute z-10 bg-black bg-opacity-70 hover:bg-opacity-80 top-0 right-0 h-auto text-white w-1/12 text-6xl"
            data-glide-dir=">">&#10093;</button>
    </div>
</div>
