<section>
    <div class="container">
        <div class="px-8 text-center">
            <h2 class="w-2/3 mx-auto mb-12 text-balance">
                El siguiente paso para emprender en Internet es un sitio web
            </h2>

            <p class="mb-20 text-2xl">
                <span class="block mb-2">
                    <b>Tienes tres opciones para crear tus sitios web</b>: Con nuestro constructor web profesional (Alfa Builder).
                </span>
                <span class="block mb-2">
                    Con el sitio web cuidadosamente diseñado para generar múltiples fuentes de ingresos (Alfa Drupal).
                </span>
                Con uno de los scripts de terceros que podrás instalar con un clic (Wordpress, Joomla, Moodle, etc)
            </p>
        </div>
    </div>

    <div class="text-white relative">
        <div class="before:absolute before:-z-10 before:bg-blue-600 before:w-1/2 before:h-full after:absolute after:-z-10 after:bg-blue-700 after:block after:w-1/2 after:h-full after:top-0 after:right-0">
            <div class="container flex flex-col gap-28 justify-between md:flex-row">
                <div class="md:flex-1">
                    <div class="py-16">
                        <div class="items-center gap-4 mb-8 text-center md:flex">
                            <div class="flex justify-center mb-4 fill-current md:mb-0">
                                {% include 'modular/website-builders/html5.svg' %}
                            </div>
                            <div class="uppercase">
                                <h3 class="text-2xl font-extralight md:text-3xl">
                                    Webs ultrarápidas y
                                    <span class="md:block">páginas de aterrizaje</span>
                                </h3>
                                <b class="text-5xl">Alfa builder</b>
                            </div>
                        </div>
                        <ul class="arrow-right">
                            <li class="mb-6">
                                Para principiantes sin ningún tipo de experiencia. Tu web en cuestión de minutos o pocas horas, no en semanas o meses.
                            </li>
                            <li class="mb-6">
                                Para profesionales que buscan crear webs con rapidez y elegancia para presentar sus proyectos o para vender a sus propios clientes.
                            </li>
                            <li class="mb-6">
                                Para todos. Desde crear efectivas páginas de captura para autoresponders o atractivas páginas de presentación de un producto, hasta sencillas tiendas online o webs para eventos.
                            </li>
                        </ul>
                        <div class="mb-12 text-sm text-center md:text-left">
                            * Incluido en todos los planes de alojamiento. Plantillas limitadas en el hosting gratuito.
                        </div>
                        <div class="flex flex-col justify-between gap-6 lg:flex-row">
                            <button class="flex-1 p-4 text-sm font-semibold uppercase bg-black rounded-xs ">
                                Más información
                            </button>
                            <button class="flex-1 p-4 text-sm font-semibold text-blue-600 uppercase bg-white rounded-xs">
                                Probar demostración
                            </button>
                        </div>
                    </div>
                </div>

                <div class="md:flex-1">
                    <div class="py-16">
                        <div class="items-center gap-4 mb-8 text-center md:flex">
                            <div class="flex justify-center mb-4 fill-current md:mb-0">
                                {% include 'modular/website-builders/html5.svg' %}
                            </div>
                            <div class="uppercase">
                                <h3 class="text-2xl font-extralight md:text-3xl">
                                    Marketing de nichos<span class="block">e ingresos pasivos</span>
                                </h3>
                                <b class="text-5xl">Alfa Drupal</b>
                            </div>
                        </div>
                        <ul class="arrow-right">
                            <li class="mb-6">
                                Un portal completo para trabajar a diario en él y generar varias fuentes de ingresos sin limitaciones. Foros, blogs, encuestas...
                            </li>
                            <li class="mb-6">
                                Optimizado milimétricamente para el posicionamiento web y la velocidad. No encontrarás un sitio web más rápido y efectivo.
                            </li>
                            <li class="mb-6">
                                Ideal para el marketing de nichos y contenidos. Perfecto para Adsense y programas de afiliados. Aprende a configurar uno y sabrás crear cientos de fuentes de ingresos estables sin vender.
                            </li>
                        </ul>
                        <div class="mb-12 text-sm text-center md:text-left">
                            * Incluido gratis en los planes de hosting Alfa y Alfa Pro. PVP por separado: $297 USD
                        </div>
                        <div class="flex flex-col justify-between gap-6 lg:flex-row">
                            <button class="flex-1 p-4 text-sm font-semibold uppercase bg-black rounded-xs ">
                                Más información
                            </button>
                            <button class="flex-1 p-4 text-sm font-semibold text-blue-600 uppercase bg-white rounded-xs">
                                Ver demostración
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
