@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply flex min-h-screen flex-col text-xl leading-relaxed;
        animation-duration: 0.5s;
        animation-name: fadeLoad;
    }

    @keyframes fadeLoad {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    form label:not([data-grav-field='checkbox'] label) {
        @apply invisible;
    }

    a,
    .prose a {
        @apply no-underline;
    }

    textarea,
    input[type='text'],
    input[type='email'],
    input[type='password'] {
        @apply w-full border-0 border-b-4 border-gray-300 bg-[length:1.4rem_1.4rem] bg-left bg-no-repeat px-1 py-4 text-2xl transition duration-200 focus:border-red-700 focus:outline-none focus:ring-0;
    }

    textarea {
        @apply bg-[left_top_1.4rem];
    }

    input[type='checkbox'] {
        @apply border-0 bg-gray-400 p-3 text-black transition focus:ring-0;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply text-gray-900;
    }

    strong {
        @apply font-semibold;
    }

    .btn,
    a.btn {
        @apply text-black mt-4 inline-block px-12 py-4 !no-underline !decoration-0 ring-1 ring-gray-900 transition duration-300 hover:ring-4;
    }

    .btn--default,
    a.btn--default {
        @apply no-underline hover:scale-105 hover:ring-1 [&>div]:transition [&>div]:duration-300 [&>div]:hover:scale-95;
    }

    .btn--primary,
    a.btn--primary {
        @apply bg-red-900 text-white ring-red-900;
    }

    .btn--secondary,
    a.btn--secondary {
        @apply bg-yellow-400 ring-yellow-400;
    }

    main {
        @apply text-gray-700;
    }

    main ul,
    main ol {
        @apply mb-14 ml-16 mt-8;
    }

    main ul {
        @apply list-disc;
    }

    main ol {
        @apply list-decimal;
    }

    main ul li {
        @apply mt-2;
    }

    main ol li {
        @apply mt-2;
    }

    .external-link {
        @apply inline-flex items-start transition-all after:bg-[url(../icons/ext-link.svg)] after:w-4 after:h-4 after:bg-contain after:opacity-40 hover:after:opacity-60 hover:after:grayscale;
    }

    main a:hover:not(.btn) {
        @apply text-black transition-all;
    }

    /**
     * Dark sections
     */

    .dark main * {
        @apply text-gray-300;
    }

    .dark h2,
    .dark h3 {
        @apply text-gray-100;
    }
}

@layer components {
    .torn-bottom {
        @apply relative z-10 after:absolute after:z-20 after:w-full after:h-8 after:-bottom-6 after:bg-[url(../images/torn-paper.svg)] after:bg-repeat-x after:bg-bottom /* after:drop-shadow-[0px_-4px_2px_rgb(0_0_0_/_0.25)] */;
    }

    .torn-top {
        @apply relative before:absolute before:z-20 before:rotate-180 before:w-full before:h-8 before:-top-6 before:bg-[url(../images/torn-paper.svg)] before:bg-repeat-x before:bg-bottom;
    }

    .looker {
        @apply relative pb-[75%];
    }

    .looker iframe,
    .looker object,
    .looker embed {
        @apply absolute left-0 top-0 h-full w-full;
    }

    .wall-full {
        @apply before:bg-[url('../images/wall-pattern.png')] before:absolute before:w-full before:h-full before:top-0 before:opacity-50 -z-10;
    }

    .wall-half {
        @apply before:bg-[url('../images/wall-pattern.png')] before:absolute before:w-1/2 before:h-full before:top-0 before:opacity-50 -z-10 before:shadow-[0_0_200px_#00000099_inset];
    }

    .d-stripes {
        color: white;
        background: repeating-linear-gradient(45deg, black, black 15px, #fff 15px, #fff 25px);
    }

    .v-stripes {
        color: white;
        background: repeating-linear-gradient(90deg, #a1a1aa, #a1a1aa 15px, #fff 15px, #fff 25px);
    }

    #messages {
        @apply fixed z-50 bottom-[1vw] right-[2%] rounded-3xl overflow-hidden shadow border-2 border-white ring-inset ring-2 ring-white;
    }

    .notices {
        @apply px-8 py-3 shadow-md;
    }

    .notices.red {
        @apply bg-red-200 text-red-700;
    }

    .notices.green {
        @apply bg-green-200 text-green-700;
    }

    .notices.yellow {
        @apply bg-yellow-200 text-yellow-700;
    }

    .basic-captcha .form-input-wrapper {
        @apply !border-0 !rounded-none gap-2;
    }

    .basic-captcha * {
        @apply !bg-transparent;
    }
}
