{# <div class="flex flex-row-reverse text-center relative">
    <div>
        {{ media['theme://images/banners/urban-dossier-mag04.webp'].html('', 'dossier para pegadas de carteles', 'm-0')|raw }}
        <div class="w-full border border-black">
            <a href="/dl/dossier-UrbanStylePublicity.pdf" target="_blank" class="btn bg-white text-nowrap !m-0">Descargar dossier <span class="rotate-45 inline-block translate-y-[2px]">&#x2794</span></a>
        </div>
    </div>
    <div class="bg-black w-full">
    </div>
</div> #}

<div class="flex flex-col md:flex-row text-center items-stretch gap-8 text-balance md:gap-16 xl:flex-col xl:gap-8">
    <h2 class="flex items-center text-2xl p-8 border-2 border-dashed border-black rounded !m-0 sm:text-4xl md:text-3xl lg:text-4xl xl:text-2xl xl:p-0 xl:border-none">
        Ya puedes descargar nuestro catálogo completo de servicios
    </h2>
    <div>
        {{ media['theme://images/banners/urban-dossier-mag04.webp'].html('', 'dossier para pegadas de carteles', 'my-0 mx-auto')|raw }}
        <a href="/dl/dossier-UrbanStylePublicity.pdf" target="_blank" class="btn text-nowrap">Descargar dossier <span class="rotate-45 inline-block translate-y-[2px]">&#x2794</span></a>
    </div>

</div>
