{% import 'macros/menu.html.twig' as macros %}

<footer class="footer text-center bg-black text-white py-16 mt-28">
    <div class="container">
        <ul class="flex gap-4 items-center justify-center text-base text-center">
            {{ macros.nav_loop(pages) }}
        </ul>
    </div>
</footer>
