{% import 'macros/menu.html.twig' as macros %}

{% set options = {"items": {"@page.children": "/services"}, "order": {"dir": "asc"}} %}
{% set services = page.collection(options) %}
 
<footer class="torn relative flex flex-col gap-8 py-24 text-base text-white bg-black footer mt-28 before:absolute before:rotate-180 before:w-full before:h-8 before:-top-6">
    <div class="container flex items-center justify-between text-white">
        <div>
            <h3 class="text-white text-3xl">
                {{ services|first.parent.title }}
            </h3>
            <ul class="columns-2 gap-12 mt-8">
                {% for service in services %}
                    <li class="mb-4">
                        {{ service.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex flex-col self-stretch justify-between">
            <ul class="flex items-center gap-4">
                <li>
                    <a href="#">Intagram</a>
                </li>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
            </ul>
 
            <ul class="flex items-center justify-center gap-8 text-center">
                {{ macros.nav_loop(pages) }}
            </ul>
 
            <div>
                <div>
                    Copyright © 2016 - {{ 'now'|date('Y') }} Urban Style Publicity, S.L.
                </div>
                <div class="flex gap-8">
                    <a href="#">Aviso legal</a>
                    <a href="#">Política de privacidad</a>
                    <a href="#">Política de cookies</a>
                </div>
            </div>
        </div>
    </div>
</footer>
