{% set options = {"items": {"@page.children": "/legal"}, "order": {"dir": "asc"}} %}
{% set links = page.collection(options) %}

{% for link in links %}
    <a class="first-letter:capitalize whitespace-nowrap" href="{{ link.url }}">
        {{ link.menu ?? link.title }}
    </a>
{% endfor %}
