{% import "macros/menu.html.twig" as menu %}

{% set hasHero = page.home or page.template == 'contact' or page.template == 'gallery' or page.template == 'login' or page.template == 'report' or page.template == 'services' ? '!fixed' : 'static' %}

<nav x-data="{openMenu: false, wideNav: false}"
     :class="{ 'bg-transparent border-0 mt-[2vw]': openMenu, 'bg-white bg-opacity-70 backdrop-blur-md overflow-hidden border rounded-full border-black transition-all': !openMenu, 'static mt-[2vw]': !wideNav, 'fixed shadow-lg !bg-opacity-80 mt-[1vw] !pr-6 !pl-1 !py-1 md:!pr-8 md:!py-0': wideNav && !openMenu }"
     class="{{ hasHero }} container left-0 right-0 w-[96%] flex justify-between items-center pr-10 pl-2 py-2 md:gap-16 z-40"
     @scroll.window="wideNav = window.scrollY > 0 ? true : false">
    <div class="z-40 flex items-center gap-8 transition-all"
         :class="{ '[&>a]:w-1/2 !gap-4': wideNav && !openMenu }">
        {% include 'partials/logo.html.twig' %}

        {% if config.plugins.langswitcher.enabled %}
            {% include 'partials/langswitcher.html.twig' %}
        {% endif %}
    </div>

    <div class="flex gap-8 md:flex-row items-right"
         :class="openMenu ? 'flex-col' : 'flex-row-reverse'">
        <div class="relative z-50 flex flex-col items-end burger hover:cursor-pointer md:hidden"
             @click="openMenu = !openMenu; window.overlay.classList.toggle('h-screen')"
             x-transition>
            <svg :class="openMenu ? 'fill-white' : 'fill-black'"
                 xmlns="http://www.w3.org/2000/svg"
                 width="32"
                 height="32"
                 fill="currentColor"
                 class="transition"
                 viewbox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
            <span class="text-xs transition"
                  :class="openMenu ? 'text-white' : 'text-black'">
                Menu
            </span>
        </div>

        <ul class="h-0 md:h-full min-w-[50vw] md:min-w-max relative top-4 md:top-auto md:visible md:flex flex-col md:flex-row gap-8 md:gap-12 content-center font-semibold uppercase text-right text-red-500 md:text-black z-50"
            :class="openMenu ? 'block' : 'hidden'">
            {% if config.theme.dropdown.enabled %}
                {{ menu.nav_loop(pages) }}
            {% endif %}
        </ul>
        <div class="bg-black fixed z-40 w-full h-full top-0 md:invisible shadow-[-20px_60px_60px_rgba(0,0,0,0.5)]"
             :class="openMenu ? 'visible' : 'invisible'">
        </div>

        {% if config.plugins.login.enabled %}
            {% include 'partials/login-status.html.twig' %}
        {% endif %}
    </div>
</nav>
