<div class="grid items-center md:grid-cols-2 lg:grid-cols-3 gap-4 mt-14">
    <div class="flex flex-col p-6 border-2 border-gray-300 rounded shadow-md h-fit -rotate-1">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex items-center justify-between mt-4 text-base">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="w-10 m-0 rounded-full">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col p-6 border-2 border-gray-300 rounded shadow-md h-fit rotate-1">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex items-center justify-between mt-4 text-base">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="w-10 m-0 rounded-full">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col p-6 border-2 border-gray-300 rounded shadow-md h-fit rotate-1">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex items-center justify-between mt-4 text-base">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="w-10 m-0 rounded-full">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col p-6 border-2 border-gray-300 rounded shadow-md h-fit rotate-1">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex items-center justify-between mt-4 text-base">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="w-10 m-0 rounded-full">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col p-6 border-2 border-gray-300 rounded shadow-md h-fit rotate-1">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex items-center justify-between mt-4 text-base">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="w-10 m-0 rounded-full">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col p-6 border-2 border-gray-300 rounded shadow-md h-fit -rotate-1">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex items-center justify-between mt-4 text-base">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="w-10 m-0 rounded-full">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>
</div>
