<div class="grid grid-cols-3 gap-4 items-center mt-14">
    <div class="flex flex-col border-2 border-gray-300 rounded p-6 h-fit -rotate-1 shadow-md">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex justify-between items-center text-base mt-4">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="rounded-full m-0 w-10">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col border-2 border-gray-300 rounded p-6 h-fit rotate-1 shadow-md">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex justify-between items-center text-base mt-4">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="rounded-full m-0 w-10">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col border-2 border-gray-300 rounded p-6 h-fit -rotate-1 shadow-md">
        <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
            <span>
                &starf;
            </span>
        </div>

        <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, aliquam."
        </div>

        <div class="flex justify-between items-center text-base mt-4">
            <div class="flex items-center gap-3">
                <img src="https://picsum.photos/50" alt="" class="rounded-full m-0 w-10">
                John Doe
            </div>
            <div>
                <a href="#" class="no-underline before:border-none">
                    Google
                </a>
            </div>
        </div>
    </div>
</div>
