<section class="infinite-scroll-h">
    {% if page.title %}
        <h2>
            {{ page.title }}
        </h2>
    {% endif %}

    {% if page.description %}
        <p>
            {{ page.description }}
        </p>
    {% endif %}

    <div class="inline-flex w-full overflow-hidden flex-nowrap"
         x-cloak
         x-data="{}"
         x-init="$nextTick(() => { let ul = $refs.items; ul.insertAdjacentHTML('afterend', ul.outerHTML); ul.nextSibling.setAttribute('aria-hidden', 'true'); })">
        <ul class="flex items-center justify-center m-0 list-none animate-infinite-scroll md:justify-start" x-ref="items">
            {% for item in header.images %}
                {% set img_alt = item.meta.alt ?: item.url|replace({'-': ' ' })|split('/')|last|split('.')[0] %}

                <li class="mr-4 last-child:mr-0">
                    {{ media[item.image].cropZoom(400, 300).derivatives(300, 600, 50).loading().html('', img_alt, 'max-w-none brightness-125 saturate-110 contrast-110')|raw }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
