<section class="hero torn-bottom relative">
    <div class="container">
        <div class="absolute flex items-end h-full align-text-bottom lg:w-3/4">
            <h1 class="text-white text-5xl -mb-[4px] sm:text-6xl md:text-[5.5rem] 2xl:text-9xl uppercase md:-mb-[8px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                {{ header.title }}
            </h1>
        </div>
    </div>
    {{ media|first.derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', header.alt, 'relative -z-10 m-0 h-[50vh] md:h-[75vh] w-full object-cover brightness-125 contrast-110')|raw }}
</section>
