{% extends "partials/base.html.twig" %}

{% block header_title %}
    <div class="pt-4 pb-36 text-white text-center">
        <h1 class="text-6xl font-semibold">{{ page.title }}</h1>
        {% if page.content %}
            <div class="text-xl w-1/2 mx-auto mt-8">{{ page.content|raw }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <section class="text-white featured grid grid-cols-2 gap-8 w-11/12 mx-auto -mt-16 relative z-10">
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=1" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=2" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=3" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=4" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
    </section>
{% endblock %}
