{% extends "partials/base.html.twig" %}

{% block header_title %}
    <div class="pt-4 pb-36 text-white text-center">
        <h1 class="text-6xl font-semibold">{{ page.title }}</h1>
        {% if page.content %}
            <div class="text-xl w-1/2 mx-auto mt-8">{{ page.content|raw }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <section id="posts-feat" class="text-white featured grid grid-cols-2 gap-8 w-11/12 mx-auto -mt-16 relative z-10">
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=1" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=2" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=3" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/600/300.webp?random=4" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
    </section>

    <section id="banner-top">BANNER TOP Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, commodi.</section>
    

    <section id="posts-top">POSTS TOP Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem dignissimos nobis nulla vel. Ducimus ex voluptates consequuntur quod provident, consequatur minus asperiores numquam doloribus, eius ut, sed eaque autem.</section>
    
    <aside id="aside-right">ASIDE RIGHT Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, harum!</aside>

    <div id="banner-mid">BANNER MID Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et suscipit nam soluta earum, quo animi totam sapiente eaque minus blanditiis accusantium assumenda sed voluptate, molestias est veniam maxime tempore aliquid.</div>

    <div id="posts-mid">POSTS MID Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero eligendi illo officiis! Amet totam est eveniet ducimus iste distinctio explicabo laboriosam quia esse, omnis ullam repellat accusantium autem sunt facere.</div>

    <div id="aside-left">ASIDE-LEFT Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto qui similique exercitationem commodi beatae ab eveniet ipsa dicta corporis corrupti voluptates rem vitae, facilis, repellat voluptatem aliquam placeat velit quos?</div>

    <div id="posts-bot">POSTS BOT Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo nisi tempora eaque voluptate iste corrupti perferendis aliquam dolores eum officiis aspernatur placeat porro est omnis voluptates vel deleniti, necessitatibus fuga.</div>

    <div id="banner-bot">BANNER BOT Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ratione molestias ea ullam ex eius quasi cum maxime minima necessitatibus, at asperiores, quod cumque cupiditate quis voluptas labore rem corrupti!</div>
    
{% endblock %}
