{% do assets.addJs('theme://js/main-menu.js', {loading: 'defer'}) %}

{% block header %}
    <div class="container">
        <div class="items-center justify-between py-3 text-sm bg-opacity-50 topnav md:flex">
            <div class="justify-between hidden gap-4 md:inline-flex">
                <span>
                    +1 (307) 622-1377
                </span>
                <span>
                    Chat en vivo
                </span>
            </div>
            <div class="grid justify-between grid-flow-col gap-4 text-center md:inline-flex">
                <a href="./" class="flex items-center gap-2 px-3 py-1 text-white rounded-xs">
                    {% include 'partials/header/webmail.svg' %}
                    Web mail
                </a>
                <a href="./" class="flex items-center gap-2 px-3 py-1 text-white rounded-xs">
                    {% include 'partials/header/cpanel.svg' %}
                    cPanel
                </a>
                <a href="./" class="flex items-center gap-2 px-3 py-1 text-white border rounded-xs">
                    {% include 'partials/header/clients.svg' %}
                    Area de clientes
                </a>
            </div>
        </div>

        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% if page.home %}
            {% block slideshow %}
                {% include 'modular/header-slideshow.html.twig' %}
            {% endblock %}

            {% block domain_search %}
                {% include 'partials/domain-search.html.twig' %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
