{% block content %}
    <section class="ds intro_section">
        <div class="flexslider vertical-nav">
            <ul class="slides">
                <li>
                    <img src="{{ url('theme://images/slide01.png') }}" alt=""/>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center text-md-right">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            <h2 class="big margin_0">{{ page.header.aboutus_title|raw }}</h2>
                                            <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">
                                                {{ page.header.aboutus_subtitle }}
                                            </h2>
                                        </div>
                                        <div class="intro-layer" data-animation="slideExpandUp">
                                            {{ page.header.aboutus_description|markdown }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
