{% block content %}
<section class="ds intro_section">
    <div class="flexslider vertical-nav">
        <ul class="slides">
            <li>
                <img src="{{ url('theme://images/slide01.png') }}" alt=""/>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center text-md-right">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <h2 class="big margin_0">Sobre la agencia</h2>
                                        <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">
                                            Lo que nos define
                                        </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        {{ theme.about_us|markdown }}
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>

            {# 
            <li>
                <img src="{{ url('theme://images/slide02.png') }}" alt=""/>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center text-md-right">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        <h2 class="big margin_0">Nuestros servicios</h2>
                                        <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">
                                            Lo que hacemos
                                        </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="slideExpandUp">
                                        {{ theme.our_services|markdown }}
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            #}
        </ul>
    </div>
    <!-- eof flexslider -->
</section>
{% endblock %}
