<section class="ds section_padding_70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="big margin_0">Escríbenos</h2>
                <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">
                    Formulario de contacto
                </h2>
            </div>
        </div>

        {% include "forms/form.html.twig" with { form: forms('contact-form')} %}
    </div>
</section>
