<section class="ds section_padding_70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="big margin_0">Escríbenos</h2>
                <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">
                    Formulario de contacto
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="bottommargin_20">
                    <span class="grey fontsize_12 text-uppercase bold">dirección:</span>
                    <br/>
                    {{ theme.address|e }}
                </p>
                <p class="bottommargin_20">
                    <span class="grey fontsize_12 text-uppercase bold">teléfono:</span>
                    <br/>
                    {{ theme.phone|e }}
                </p>
                <p class="bottommargin_0">
                    <span class="grey fontsize_12 text-uppercase bold">Email:</span>
                    <br/>
                    <a href="mainto:{{ theme.email|e }}">
                        <span class="" data-cfemail="">
                            <em>{{ theme.email|e }}</em>
                        </span>
                    </a>
                </p>
            </div>
            <div class="col-md-8">
                <form class="contact-form row" method="post" action="https://html.modernwebtemplates.com/">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="sr-only">Nombre
                                <span class="required">*</span>
                            </label>
                            <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control with-icon" placeholder=""/>
                            <i class="rt-icon2-user"></i>
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email
                                <span class="required">*</span>
                            </label>
                            <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control with-icon" placeholder=""/>
                            <i class="rt-icon2-mail"></i>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="sr-only">Teléfono
                                <span class="required">*</span>
                            </label>
                            <input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control with-icon" placeholder=""/>
                            <i class="rt-icon2-phone5"></i>
                        </div>
                        <div class="form-group bottommargin_0">
                            <label for="theme" class="sr-only">Mensaje
                                <span class="required">*</span>
                            </label>
                            <input type="text" aria-required="true" size="30" value="" name="theme" id="theme" class="form-control with-icon" placeholder=""/>
                            <i class="rt-icon2-bulb"></i>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="message" class="sr-only">Mensaje</label>
                            <textarea aria-required="true" rows="6" cols="45" name="message" id="message" class="form-control with-icon" placeholder=""></textarea>
                            <i class="rt-icon2-pen"></i>
                        </div>

                        <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color1 bottommargin_0">
                            Enviar
                        </button>
                        <button type="reset" id="contact_form_clear" name="contact_clear" class="theme_button inverse bottommargin_0">
                            Borrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
