<header class="ds page_testimonials">
    <div
        class="container">
        <!-- Testimonials -->
        <div class="row topmargin_40 bottommargin_40">
            <div class="col-sm-12 text-center">
                <h1 class="big">
                    {{ page.header.title }}
                    <br/>
                    <span class="highlight muellerhoff">Placer con elegancia</span>
                </h1>

                <div class="testimonials-body">
                    <blockquote class="blockquote-big" data-slide="1">
                        {{ theme.testimonials }}
                    </blockquote>
                </div>

                <div class="owl-carousel testimonials-carousel" data-margin="0" data-nav="true" data-loop="true" data-center="true" data-items="3" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="3"></div>
            </div>
        </div>
    </div>
</header>
