<section class="ds parallax calltoaction section_padding_100" style="background-image: url({{ url('theme://images/parallax/call_to_action.jpg') }})">
    <div class="container">
        <div class="row topmargin_60 bottommargin_60">
            <div class="col-sm-12 text-center">
                <h2 class="extra-big topmargin_0 bottommargin_30">
                    {{ page.header.work_withus_title|t }}
                </h2>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <p class="fontsize_20">{{ page.header.work_withus_description|t }}</p>
                    </div>
                </div>
                <div class="widget widget_mailchimp topmargin_20">
                    <form class="signup form-inline" action="#" method="get">
                        <div class="form-group">
                            <input name="email" type="email" class="mailchimp_email form-control" placeholder="{{ 'THEME.ADDRESS'|t }} de email"/>
                        </div>
                        <button type="submit" class="theme_button input_button">Enviar</button>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
