<header class="page_header header_darkgrey columns_padding_0 table_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-6 text-center">
                <a href="index.html" class="logo logo_image">
                    <h1>
                        chicas
                        <span class="muellerhoff">Moon</span>
                    </h1>
                    <img src="{{ url('theme://images/moon-logo.png') }}" alt=""/>
                </a>
            </div>
            <div class="col-md-8 text-center">
                {% block navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                <span class="toggle_menu">
                    <span></span>
                </span>
            </div>
            <div class="col-md-2 col-sm-6 header-contacts text-center hidden-xs">
                <div class="highlight inline-block fontsize_30 thin">{{ theme.phone|e }}</div>
                <div class="fontsize_20 grey topmargin_-5">Servicio 24 horas</div>
            </div>
        </div>
    </div>
</header>

{% if config.plugins.breadcrumbs.enabled %}
    {% if page.template != 'home' %}
        {% block breadcrumbs %}
            {% include "partials/breadcrumbs.html.twig" %}
        {% endblock %}
    {% endif %}
{% endif %}
