{% set options = {items: {'@page.children': '/legal'}} %}
{% set links = page.collection(options) %}

{% block footer %}
    {% for link in links.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <a href="{{ link.url }}">
            {{ link.menu }}
        </a>
    {% endfor %}
{% endblock %}
