@import "tailwindcss";
/* @import "./scrollbars.css"; */
@import "./fonts.css";
/* @import "./navigation.css"; */

[x-cloak] {
    display: none !important;
}

@theme {
    --font-alfa: "Alfa", sans-serif;
}

body {
    @apply font-alfa tracking-wide text-slate-600;

}

@utility container {
    @apply mx-auto;
}

@utility page-gradient {
    background: linear-gradient(
        to bottom,
        var(--color-slate-200) 0px,
        white 150px,
        white calc(100% - 150px),
        var(--color-slate-200) 100%
    );
    @apply border border-white;
}
